Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: Update test utilities to use typed Event models
  src/honeyhive/models/__init__.py
  tests/integration/test_end_to_end_validation.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: Update test_simple_integration to use typed Event models
  tests/integration/test_simple_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: Revert GetDatasetsResponse field name to datapoints
  tests/integration/api/test_datasets_api.py
  tests/integration/test_end_to_end_validation.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: Resolve integration test failures and OpenAPI spec issues
  INTEGRATION_TESTS_TODO.md
  openapi/v1.yaml
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/api/client.py
  src/honeyhive/experiments/core.py
  tests/integration/api/test_datasets_api.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_honeyhive_attributes_backend_integration.py
  tests/integration/test_model_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

datapoints and datasets tests
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_metrics_api.py
  tests/integration/test_end_to_end_validation.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Enable datapoints API integration tests (get, update, delete)
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_tools_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Enable configurations and datasets API integration tests
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datasets_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix(deps): replace extra name references with actual PyPI packages in convenience groups
  pyproject.toml
Due: none

docs: add getting-started tutorial example
  examples/tutorials/getting_started.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add consolidated add-tracing-5min tutorial example
  examples/tutorials/add_tracing_5min.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

address some of the 404s
  openapi/v1.yaml
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_metrics_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_simple_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

include session id in verification functions
  SKIPPED_INTEGRATION_TESTS_SUMMARY.md
  openapi/v1.yaml
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/api/client.py
  tests/integration/test_batch_configuration.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_fixture_verification.py
  tests/integration/test_honeyhive_attributes_backend_integration.py
  tests/integration/test_multi_instance_tracer_integration.py
  tests/integration/test_otel_backend_verification_integration.py
  tests/integration/test_otel_context_propagation_integration.py
  tests/integration/test_otel_edge_cases_integration.py
  tests/integration/test_otel_otlp_export_integration.py
  tests/integration/test_otel_performance_integration.py
  tests/integration/test_otel_performance_regression_integration.py
  tests/integration/test_otel_provider_strategies_integration.py
  tests/integration/test_otel_resource_management_integration.py
  tests/integration/test_otel_span_lifecycle_integration.py
  tests/integration/test_real_api_multi_tracer.py
  tests/integration/test_real_instrumentor_integration_comprehensive.py
  tests/integration/test_simple_integration.py
  tests/integration/test_tracer_integration.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

format
  tests/integration/test_honeyhive_attributes_backend_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

update summary
  SKIPPED_INTEGRATION_TESTS_SUMMARY.md
Due: none

Add enriching traces tutorial example
  examples/tutorials/enriching_traces.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Add evaluation basics tutorial example
  examples/tutorials/evaluation_basics.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

examples: add query_traces.py for querying trace data
  examples/query_traces.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: improve reference navigation and add missing API docs
  docs/reference/api/client-apis.rst
  docs/reference/experiments/results.rst
  docs/reference/index.rst
  docs/tutorials/05-run-first-experiment.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

feat: Add create_session() for multi-session handling with baggage-based isolation
  docs/how-to/deployment/tracer-initialization-patterns.rst
  docs/reference/api/tracer.rst
  examples/fastapi_multi_session_example.py
  src/honeyhive/__init__.py
  src/honeyhive/tracer/core/context.py
  tests/integration/test_fastapi_multi_session_integration.py
  tests/unit/test_fastapi_multi_session.py
  tests/unit/test_tracer_core_context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Add API reference for create_session(), acreate_session(), with_session()
  docs/reference/api/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: Pass customer-provided session_id to API, add skip_api_call parameter
  docs/reference/api/tracer.rst
  src/honeyhive/tracer/core/context.py
  tests/unit/test_fastapi_multi_session.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Add clear guidance on when to use skip_api_call parameter
  docs/how-to/deployment/tracer-initialization-patterns.rst
Due: docs-build-check, invalid-tracer-pattern-check

chore: bump version to 1.0.0rc8
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Add :no-index: to avoid Sphinx duplicate object warnings
  docs/reference/api/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

chore: regenerate v1 client from latest hive-kube OpenAPI spec
  openapi/v1.yaml
  src/honeyhive/_generated/models/EventNode.py
  src/honeyhive/_generated/models/GetEventsBySessionIdResponse.py
  src/honeyhive/_generated/models/GetEventsChartQuery.py
  src/honeyhive/_generated/models/GetEventsLegacyRequest.py
  src/honeyhive/_generated/models/GetEventsLegacyResponse.py
  src/honeyhive/_generated/models/GetEventsQuery.py
  src/honeyhive/_generated/models/GetExperimentRunCompareResponse.py
  src/honeyhive/_generated/models/GetExperimentRunResultResponse.py
  src/honeyhive/_generated/models/GetProjectsResponse.py
  src/honeyhive/_generated/models/GetSessionResponse.py
  src/honeyhive/_generated/models/LegacyEvent.py
  src/honeyhive/_generated/models/PostEventBatchRequest.py
  src/honeyhive/_generated/models/PostEventBatchResponse.py
  src/honeyhive/_generated/models/PostModelEventBatchRequest.py
  src/honeyhive/_generated/models/PostModelEventRequest.py
  src/honeyhive/_generated/models/PostProjectRequest.py
  src/honeyhive/_generated/models/PostProjectResponse.py
  src/honeyhive/_generated/models/PostSessionStartResponse.py
  src/honeyhive/_generated/models/Project.py
  src/honeyhive/_generated/models/PutProjectRequest.py
  src/honeyhive/_generated/models/SessionProperties.py
  src/honeyhive/_generated/models/SingleFilter.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: use valid event_type 'tool' instead of invalid 'lambda'
  docs/development/testing/lambda-testing.rst
  tests/lambda/lambda-bundle/basic_tracing.py
  tests/lambda/lambda_functions/basic_tracing.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update PostSessionResponse -> PostSessionStartResponse throughout codebase
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_otel_otlp_export_integration.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: align ExperimentsAPI client wrapper with generated service API
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Remove EventNode import and fix Pydantic model serialization in events API
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Use JSON OTLP exporter and handle Pydantic session response
  src/honeyhive/_generated/models/PostSessionStartResponse.py
  src/honeyhive/api/client.py
  src/honeyhive/tracer/instrumentation/initialization.py
  src/honeyhive/tracer/processing/otlp_exporter.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Add Control Plane URL support (HH_CP_API_URL)
  src/honeyhive/_generated/api_config.py
  src/honeyhive/api/client.py
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Add EventType enum and update default URLs to testing environment
  src/honeyhive/_generated/api_config.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add backwards compatible API aliases and fix experiment endpoints
  src/honeyhive/api/client.py
  src/honeyhive/experiments/results.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Add backwards compatible parameters to HoneyHive client
  src/honeyhive/_generated/api_config.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Add comprehensive backwards compatible aliases for all API classes
  src/honeyhive/__init__.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: Bump version to 1.0.0rc9
  CHANGELOG.md
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Fix Sphinx docs build errors
  src/honeyhive/api/__init__.py
  src/honeyhive/api/client.py
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Update Sphinx docs to use new API module structure
  docs/reference/api/client-apis.rst
  docs/reference/api/models-complete.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: Fix EventType docstring for Sphinx (unexpected indentation)
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Update CI to use correct script name (generate_client.py)
  .github/workflows/tox-full-suite.yml
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
