Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

fix: update tests_v2 formatter tests for human-readable output format
  tests_v2/unit/test_utils_logger.py
Due: none

style: renumber priorities to sequential integers and simplify truthiness checks
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: run make generate for black formatting
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: add unit tests for Priority 5 agent name detection
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

docs: add CHANGELOG entry for agent event type detection fix
  CHANGELOG.md
Due: docs-build-check

docs: simplify CHANGELOG entry to be customer-facing
  CHANGELOG.md
Due: docs-build-check

feat: add @trace decorator pattern to DSPy example
  examples/integrations/dspy_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add @trace decorator pattern to autogen example
  examples/integrations/autogen_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: update skill to exclude compatibility sections and non-instrumentor features
  .agents/skills/update-integration-example/SKILL.md
Due: none

docs: add @trace decorator pattern to update-integration-example skill
  .agents/skills/update-integration-example/SKILL.md
Due: none

chore: update integration-example skill with @trace decorator pattern (v2.6)
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix: use top-level trace import (from honeyhive import trace)
  .agents/skills/update-integration-example/SKILL.md
  examples/integrations/autogen_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Update skill: do not include Compatibility sections in integration docs
  .agents/skills/update-integration-example/SKILL.md
Due: none

refactor: remove OpenAIInstrumentor - OpenAIAgentsInstrumentor alone captures LLM spans
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(otlp): group spans by instrumentation scope in batch JSON export
  src/honeyhive/tracer/processing/otlp_exporter.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: remove 'Do NOT add Compatibility section' line from skill per review
  .agents/skills/update-integration-example/SKILL.md
Due: none

docs: add CHANGELOG entry for verbose output fix
  CHANGELOG.md
Due: docs-build-check

fix: preserve all logging content and pretty-print large JSON values
  src/honeyhive/tracer/processing/otlp_exporter.py
  src/honeyhive/tracer/processing/span_processor.py
  src/honeyhive/utils/logger.py
  tests/unit/test_utils_logger.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test(otlp): add regression tests for HHAI-4245 scope grouping bug
  tests/unit/test_otlp_scope_grouping_regression.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: defer claude_agent_sdk imports to after instrumentor patches
  examples/integrations/openinference_claude_agent_sdk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: cap requires-python and upgrade black to >=26.3.1
  pyproject.toml
  tox.ini
Due: none

fix: resolve UnboundLocalError for `results` in evaluator single-evaluation path
  src/honeyhive/experiments/evaluators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: resolve UnboundLocalError for results in evaluator (#341)
  src/honeyhive/experiments/evaluators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: reformat code via make format + add CHANGELOG entry [HHAI-4245]
  CHANGELOG.md
  src/honeyhive/tracer/processing/otlp_exporter.py
  tests/unit/test_otlp_scope_grouping_regression.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: update skill to point PRs to hive-kube monorepo
  .agents/skills/update-integration-example/SKILL.md
Due: none

docs: remove mention of old public python-sdk repo
  .agents/skills/update-integration-example/SKILL.md
Due: none

feat: add HoneyHive trace link to Claude Code review comments
  .github/workflows/claude-code-review.yml
Due: none

ci: disable Claude review workflow, install uv for code gen, remove unit-v2 step
  .github/workflows/claude-code-review.yml
  .github/workflows/tox-full-suite.yml
Due: none

ci: skip evaluator e2e test in public repo integration tests
  .github/workflows/tox-full-suite.yml
Due: none

ci: add uv.lock to .gitignore to fix Generated Code Check
  .gitignore
Due: none

fix(ci): eliminate duplicate Claude review comments
  .github/workflows/claude-code-review.yml
Due: none

ci(docs): replace Sphinx workflows with ProperDocs deploy
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-validation.yml
  .github/workflows/docs-versioned.yml
Due: none

ci(docs): replace Sphinx workflows with ProperDocs deploy (#352)
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-validation.yml
  .github/workflows/docs-versioned.yml
Due: none

ci: retarget workflows to main
  .github/workflows/changelog-check.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/sdk-publish.yml
Due: none

ci: retarget workflows from federated-sdk-release-candidate to main (#353)
  .github/workflows/changelog-check.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/sdk-publish.yml
Due: none

ci(changelog): add tool permissions to claude_args for docs sync workflow
  .github/workflows/sync-changelog-to-docs.yml
Due: none
