Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(tracer): restore enrich_session/span compat
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/advanced-tracing/index.rst
  docs/how-to/advanced-tracing/session-enrichment.rst
  docs/reference/api/decorators.rst
  docs/reference/index.rst
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  src/honeyhive/tracer/integration/compatibility.py
  tests/unit/test_tracer_core_context.py
  tests/unit/test_tracer_instrumentation_enrichment.py
  tests/unit/test_tracer_integration_compatibility.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: Remove redundant experiment baggage code
  CHANGELOG.md
  docs/changelog.rst
  scripts/check-documentation-compliance.py
  src/honeyhive/tracer/processing/context.py
  tests/unit/test_tracer_processing_context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor(pre-commit): Replace semantic commit parsing with diff-based change detection
  scripts/check-documentation-compliance.py
Due: tox-format-check, tox-lint-check

fix: ensure session enrichment always runs in evaluate()
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/eval_example.py
  examples/integrations/old_sdk.py
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add Strands multi-agent integration examples (Swarm and Graph workflows)
  .agent-os/product/features.md
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/strands_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat(tracer): implement instance method pattern for span/session enrichment (v1.0)
  CHANGELOG.md
  README.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/advanced_usage.py
  examples/basic_usage.py
  examples/debug_openai_instrumentor_spans.py
  examples/evaluate_with_enrichment.py
  examples/integrations/openinference_google_adk_example.py
  src/honeyhive/api/client.py
  src/honeyhive/api/metrics.py
  src/honeyhive/experiments/core.py
  src/honeyhive/tracer/core/base.py
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  src/honeyhive/tracer/integration/compatibility.py
  src/honeyhive/tracer/processing/context.py
  src/honeyhive/tracer/registry.py
  tests/integration/test_e2e_patterns.py
  tests/integration/test_evaluate_enrich.py
  tests/performance/__init__.py
  tests/performance/concurrent_benchmark.py
  tests/performance/test_benchmarks.py
  tests/tracer/processing/__init__.py
  tests/tracer/test_baggage_isolation.py
  tests/tracer/test_multi_instance.py
  tests/unit/test_api_metrics.py
  tests/unit/test_tracer_processing_context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

add strands examples + resolve merge conflict
  .agent-os/product/features.md
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/strands_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

fix: multi-instance isolation and backend mapping issues
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/tracer/instrumentation/decorators.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  src/honeyhive/tracer/instrumentation/span_utils.py
  src/honeyhive/tracer/processing/context.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_e2e_patterns.py
  tests/integration/test_evaluate_enrich.py
  tests/integration/test_otel_backend_verification_integration.py
  tests/integration/test_otel_concurrency_integration.py
  tests/integration/test_otel_otlp_export_integration.py
  tests/integration/test_otel_performance_regression_integration.py
  tests/integration/test_otel_span_lifecycle_integration.py
  tests/integration/test_simple_integration.py
  tests/integration/test_tracer_performance.py
  tests/unit/test_api_client.py
  tests/unit/test_tracer_instrumentation_enrichment.py
  tests/unit/test_tracer_processing_context.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: add nested enrich_span() backend validation for evaluate()
  CHANGELOG.md
  docs/changelog.rst
  tests/integration/test_experiments_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add AWS Strands integration documentation and RST workflow standard
  .agent-os/standards/README.md
  .agent-os/standards/documentation/rst-documentation-workflow.md
  docs/how-to/index.rst
  docs/how-to/integrations/strands.rst
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix config collision bug and add comprehensive integration tests
  CHANGELOG.md
  docs/changelog.rst
  docs/tutorials/advanced-configuration.rst
  src/honeyhive/config/utils.py
  src/honeyhive/tracer/core/base.py
  src/honeyhive/tracer/instrumentation/initialization.py
  tests/integration/test_api_clients_integration.py
  tests/integration/test_otel_backend_verification_integration.py
  tests/unit/test_config_utils.py
  tests/unit/test_config_utils_collision_fix.py
  tests/unit/test_config_validation.py
  tests/unit/test_experiments_core.py
  tests/unit/test_tracer_core_base.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: implement v1.0 immediate ship requirements for evaluate
  CHANGELOG.md
  docs/changelog.rst
  docs/design/examples/anthropic-schema-example.yaml
  docs/design/examples/openai-schema-complete.yaml
  docs/how-to/evaluation/index.rst
  docs/how-to/evaluation/running-experiments.rst
  docs/tutorials/05-run-first-experiment.rst
  docs/tutorials/index.rst
  src/honeyhive/config/utils.py
  src/honeyhive/experiments/core.py
  src/honeyhive/tracer/instrumentation/decorators.py
  tests/integration/test_experiments_integration.py
  tests/integration/test_otel_backend_verification_integration.py
  tests/integration/test_v1_immediate_ship_requirements.py
  tests/unit/test_config_validation.py
  tests/unit/test_experiments_core.py
  tests/unit/test_experiments_immediate_fixes.py
  tests/unit/test_tracer_processing_context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix: Use EventsAPI.update_event() for session enrichment
  src/honeyhive/tracer/core/context.py
  tests/unit/test_tracer_core_context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: comprehensive documentation quality fixes and visual verification
  docs/changelog.rst.bak4
  docs/explanation/index.rst
  docs/how-to/deployment/advanced-production.rst
  docs/how-to/evaluation/creating-evaluators.rst
  docs/how-to/evaluation/index.rst
  docs/how-to/evaluation/running-experiments.rst
  docs/how-to/index.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/monitoring/index.rst
  docs/index.rst
  docs/index.rst.bak4
  docs/reference/api/client-apis.rst
  docs/reference/api/config-models.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/experiments/core-functions.rst
  docs/reference/experiments/evaluators.rst
  docs/reference/experiments/results.rst
  docs/tutorials/01-setup-first-tracer.rst
  docs/tutorials/03-enable-span-enrichment.rst
  docs/tutorials/04-configure-multi-instance.rst
  docs/tutorials/05-run-first-experiment.rst
  docs/tutorials/advanced-setup.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

Fix metadata attribute namespace: honeyhive.metadata -> honeyhive_metadata
  src/honeyhive/tracer/core/context.py
  tests/unit/test_tracer_core_context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: restore evaluation metadata propagation to child spans
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_evaluate_enrich.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: auto-decorate experiment functions with @trace for span capture
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/experiments/core.py
  tests/unit/test_experiments_core.py
  tests/unit/test_experiments_immediate_fixes.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

BREAKING: migrate ground_truths (plural) to ground_truth (singular)
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/evaluation/best-practices.rst
  docs/how-to/evaluation/creating-evaluators.rst
  docs/how-to/evaluation/dataset-management.rst
  docs/how-to/evaluation/multi-step-experiments.rst
  docs/how-to/evaluation/running-experiments.rst
  docs/how-to/evaluation/server-side-evaluators.rst
  docs/how-to/evaluation/troubleshooting.rst
  docs/how-to/integrations/strands.rst
  docs/tutorials/05-run-first-experiment.rst
  examples/eval_example.py
  src/honeyhive/experiments/core.py
  tests/integration/test_experiments_integration.py
  tests/integration/test_v1_immediate_ship_requirements.py
  tests/unit/test_experiments_core.py
  tests/unit/test_experiments_immediate_fixes.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add end-to-end distributed tracing tutorial
  docs/tutorials/06-distributed-tracing.rst
  docs/tutorials/index.rst
  examples/tutorials/distributed_tracing/README.md
  examples/tutorials/distributed_tracing/api_gateway.py
  examples/tutorials/distributed_tracing/llm_service.py
  examples/tutorials/distributed_tracing/test_distributed_trace.sh
  examples/tutorials/distributed_tracing/user_service.py
Due: tox-format-check, tox-lint-check, docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Add comprehensive experiments architecture explanation
  CHANGELOG.md
  docs/explanation/concepts/experiments-architecture.rst
  docs/explanation/index.rst
  docs/how-to/evaluation/running-experiments.rst
Due: docs-build-check, invalid-tracer-pattern-check

Update version to 1.0.0-rc3 and AWS Strands docs with current model IDs
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/integrations/strands.rst
  examples/integrations/strands_integration.py
  src/honeyhive/__init__.py
  tests/compatibility_matrix/test_traceloop_bedrock.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: add manual trigger to PyPI publish workflow for RC testing
  .github/workflows/sdk-publish.yml
  CHANGELOG.md
  docs/changelog.rst
Due: docs-build-check, invalid-tracer-pattern-check

chore: add manual trigger to PyPI publish workflow
  .github/workflows/sdk-publish.yml
Due: none

fix: use sed for version extraction to avoid import errors
  .github/workflows/sdk-publish.yml
Due: none

docs: update Strands integration to use instance method pattern
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/integrations/strands.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: correct README.md imports and URLs for PyPI display
  CHANGELOG.md
  README.md
Due: docs-build-check

docs: add comprehensive tracer initialization patterns guide
  CHANGELOG.md
  docs/how-to/deployment/tracer-initialization-patterns.rst
  docs/how-to/index.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: comprehensive documentation improvements based on user feedback
  CHANGELOG.md
  docs/development/testing/lambda-testing.rst
  docs/development/testing/performance-testing.rst
  docs/explanation/architecture/diagrams.rst
  docs/how-to/advanced-tracing/span-enrichment.rst
  docs/how-to/integrations/strands.rst
  docs/reference/api/tracer.rst
  docs/reference/configuration/environment-vars.rst
  docs/tutorials/01-setup-first-tracer.rst
  docs/tutorials/02-add-llm-tracing-5min.rst
  docs/tutorials/03-enable-span-enrichment.rst
  docs/tutorials/05-run-first-experiment.rst
  docs/tutorials/06-distributed-tracing.rst
  docs/tutorials/advanced-setup.rst
  docs/tutorials/index.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: enhance tracer initialization patterns with session ID management
  CHANGELOG.md
  docs/how-to/deployment/tracer-initialization-patterns.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: comprehensive documentation improvements based on Dhruv feedback
  CHANGELOG.md
  docs/explanation/concepts/llm-observability.rst
  docs/explanation/concepts/tracing-fundamentals.rst
  docs/how-to/advanced-tracing/custom-spans.rst
  docs/how-to/deployment/advanced-production.rst
  docs/how-to/deployment/production.rst
  docs/how-to/deployment/pyproject-integration.rst
  docs/how-to/deployment/tracer-initialization-patterns.rst
  docs/how-to/evaluation/creating-evaluators.rst
  docs/how-to/evaluation/dataset-crud.rst
  docs/how-to/evaluation/index.rst
  docs/how-to/evaluation/running-experiments.rst
  docs/how-to/index.rst
  docs/how-to/monitoring/export-traces.rst
  docs/how-to/monitoring/index.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: Fix boss feedback issues - mermaid, tutorials, strands
  CHANGELOG.md
  docs/how-to/deployment/pyproject-integration.rst
  docs/how-to/evaluation/creating-evaluators.rst
  docs/how-to/evaluation/dataset-management.rst
  docs/how-to/evaluation/index.rst
  docs/how-to/evaluation/multi-step-experiments.rst
  docs/how-to/index.rst
  docs/how-to/integrations/strands.rst
  docs/tutorials/01-setup-first-tracer.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: Fix boss feedback round 2 - performance, evaluation, graceful degradation
  CHANGELOG.md
  docs/how-to/deployment/production.rst
  docs/how-to/evaluation/index.rst
Due: docs-build-check, invalid-tracer-pattern-check

feat(api): enhance DatasetsAPI filtering and document EventsAPI best practices
  API_FILTERING_IMPROVEMENTS_SUMMARY.md
  FILTERING_QUICK_START.md
  examples/get_tool_calls_for_eval.py
  src/honeyhive/api/datasets.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(models): add missing metadata field to Dataset model
  src/honeyhive/api/datasets.py
  src/honeyhive/models/generated.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(datasets): Add name and include_datapoints filtering to list_datasets()
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/evaluation/dataset-crud.rst
  docs/reference/api/client-apis.rst
  docs/reference/index.rst
  src/honeyhive/api/datasets.py
  tests/integration/test_api_clients_integration.py
  tests/unit/test_api_datasets.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix enrich_span and enrich_session: user_properties and metrics handling
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/advanced-tracing/session-enrichment.rst
  docs/how-to/advanced-tracing/span-enrichment.rst
  docs/how-to/evaluation/dataset-crud.rst
  docs/reference/api/client-apis.rst
  docs/reference/api/decorators.rst
  docs/reference/index.rst
  docs/tutorials/03-enable-span-enrichment.rst
  examples/basic_usage.py
  examples/enrichment_verification.py
  src/honeyhive/api/datasets.py
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  tests/integration/test_api_clients_integration.py
  tests/integration/test_tracer_integration.py
  tests/unit/test_api_datasets.py
  tests/unit/test_tracer_core_context.py
  tests/unit/test_tracer_instrumentation_enrichment.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(tracer): Fix OpenInference event type detection + Add Google ADK exercise script
  CHANGELOG.md
  docs/changelog.rst
  examples/integrations/README.md
  examples/integrations/exercise_google_adk.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_simple_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
