Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

docs: clean up documentation examples
  docs/development/testing/index.rst
  docs/development/testing/integration-testing.rst
  docs/development/testing/lambda-testing.rst
  docs/development/testing/unit-testing.rst
  docs/explanation/architecture/byoi-design.rst
  docs/how-to/integrations/mcp.rst
  docs/index.rst
  docs/reference/api/client.rst
  docs/reference/api/tracer.rst
  docs/tutorials/01-quick-start.rst
  docs/tutorials/03-llm-integration.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: final cleanup of documentation examples
  docs/how-to/deployment/production.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/multi-provider.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/troubleshooting.rst
  docs/reference/api/client.rst
  docs/reference/api/tracer.rst
  docs/reference/configuration/authentication.rst
  docs/tutorials/02-basic-tracing.rst
  docs/tutorials/03-llm-integration.rst
  docs/tutorials/04-evaluation-basics.rst
  docs/tutorials/advanced-setup.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: fix API reference tracer documentation
  docs/reference/api/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

feat: implement optional dependency groups for all instrumentors
  README.md
  docs/explanation/architecture/byoi-design.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/troubleshooting.rst
  docs/tutorials/03-llm-integration.rst
  pyproject.toml
Due: docs-build-check, invalid-tracer-pattern-check

docs: add comprehensive pyproject.toml integration guide
  README.md
  docs/how-to/deployment/pyproject-integration.rst
  docs/how-to/index.rst
Due: docs-build-check, invalid-tracer-pattern-check

feat: add interactive tabs to integration documentation
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: add Agent OS rule for mandatory tabbed interface in integration docs
  .agent-os/standards/best-practices.md
  .agent-os/standards/documentation-templates.md
  .cursorrules
Due: docs-build-check, mandatory-docs-update

feat: implement enhanced tab content with environment variables and business context
  .agent-os/standards/documentation-templates.md
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: clarify tabbed interface scope for how-to guides only, not tutorials
  .agent-os/standards/best-practices.md
  .agent-os/standards/documentation-templates.md
  .cursorrules
Due: docs-build-check, mandatory-docs-update

docs: remove outdated project parameter references throughout documentation
  docs/changelog.rst
  docs/development/testing/index.rst
  docs/development/testing/integration-testing.rst
  docs/development/testing/lambda-testing.rst
  docs/development/testing/mocking-strategies.rst
  docs/development/testing/performance-testing.rst
  docs/development/testing/troubleshooting-tests.rst
  docs/development/testing/unit-testing.rst
  docs/explanation/architecture/byoi-design.rst
  docs/how-to/deployment/production.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/multi-provider.rst
  docs/how-to/troubleshooting.rst
  docs/reference/api/decorators.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/index.rst
  docs/tutorials/01-quick-start.rst
  docs/tutorials/advanced-setup.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: fix remaining inline literal formatting issues
  docs/development/testing/index.rst
  docs/development/testing/mocking-strategies.rst
  docs/development/testing/unit-testing.rst
  docs/how-to/deployment/production.rst
  docs/reference/api/tracer.rst
  docs/reference/cli/commands.rst
  docs/reference/cli/index.rst
  docs/reference/cli/options.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/index.rst
  docs/tutorials/01-quick-start.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

feat: improve connection pool test coverage from 35% to 88%
  .agent-os/standards/best-practices.md
  .cursorrules
  CHANGELOG.md
  tests/test_mcp_integration.py
  tests/unit/test_utils_connection_pool.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update

feat: comprehensive CLI test suite (37% → 89% coverage)
  CHANGELOG.md
  tests/unit/test_cli_main.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update

docs: update testing documentation with new CLI test metrics
  docs/development/testing/index.rst
  docs/development/testing/unit-testing.rst
Due: docs-build-check, invalid-tracer-pattern-check

feat: increase coverage thresholds to 80% project-wide, 70% individual files
  .agent-os/standards/best-practices.md
  .agent-os/standards/tech-stack.md
  CHANGELOG.md
  COVERAGE_STANDARDS_UPDATE.md
  docs/development/testing/index.rst
  pyproject.toml
  pytest.ini
  tox.ini
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: clean up repository structure and add compatibility tests
  AWS_SSO_COMPATIBILITY.md
  BACKWARD_COMPATIBILITY_SUMMARY.md
  BEDROCK_ACCESS_GUIDE.md
  CHANGELOG.md
  SPAN_ATTRIBUTES_COMPARISON.md
  coverage.xml
  docs/reference/index.rst
  src/honeyhive.egg-info/PKG-INFO
  src/honeyhive.egg-info/SOURCES.txt
  src/honeyhive.egg-info/dependency_links.txt
  src/honeyhive.egg-info/entry_points.txt
  src/honeyhive.egg-info/requires.txt
  src/honeyhive.egg-info/top_level.txt
  src/honeyhive/__init__.py
  tests/compatibility/test_backward_compatibility.py
  tests/lambda/OPTIMAL_IMPLEMENTATION_RESULTS.md
  tests/lambda/SDK_OVERHEAD_ANALYSIS.md
  tests/migration_analysis/test_main_branch_patterns.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Add evaluation to experiment framework alignment specification and task breakdown
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/README.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/spec.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/tasks.md
Due: docs-build-check

fix: resolve failing API client tests by patching config module
  tests/utils.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

feat: implement ecosystem-specific integration keys for unlimited instrumentor scalability
  .agent-os/product/decisions.md
  .agent-os/product/features.md
  .agent-os/specs/2025-09-04-pyproject-integration-titles/specs.md
  .agent-os/specs/2025-09-04-pyproject-integration-titles/srd.md
  .agent-os/specs/2025-09-04-pyproject-integration-titles/tasks.md
  CHANGELOG.md
  README.md
  docs/explanation/architecture/byoi-design.rst
  docs/how-to/deployment/pyproject-integration.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/troubleshooting.rst
  docs/index.rst
  docs/reference/cli/commands.rst
  docs/tutorials/03-llm-integration.rst
  examples/mcp_integration.py
  examples/simple_mcp_integration.py
  pyproject.toml
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

docs: remove emergency bypass option from best practices
  .agent-os/standards/best-practices.md
Due: docs-build-check, mandatory-docs-update

feat: align evaluation-to-experiment spec with Agent OS standards
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/README.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/spec.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/specs.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/srd.md
  .agent-os/specs/2025-09-03-evaluation-to-experiment-alignment/tasks.md
Due: docs-build-check

docs: Fix Mermaid standard documentation to match actual implementation
  RELEASE_NOTES_v0.2.0.md
  docs/MERMAID_STANDARD.md
Due: docs-build-check, invalid-tracer-pattern-check

fix: Update Mermaid diagrams for proper dual-theme support
  docs/MERMAID_STANDARD.md
  docs/development/testing/lambda-testing.rst
  docs/explanation/architecture/overview.rst
  docs/explanation/concepts/tracing-fundamentals.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: Add missing color:#ffffff to Mermaid classDef definitions
  docs/development/testing/lambda-testing.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: Use high-contrast HoneyHive color scheme for Mermaid diagrams
  docs/development/testing/lambda-testing.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: Make Mermaid arrows visible in light theme
  docs/MERMAID_STANDARD.md
  docs/development/testing/lambda-testing.rst
  docs/explanation/architecture/overview.rst
  docs/explanation/concepts/tracing-fundamentals.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: Add comprehensive Mermaid diagram standards to Agent OS
  .agent-os/standards/best-practices.md
  .agent-os/standards/mermaid-diagrams.md
  .cursorrules
Due: docs-build-check, mandatory-docs-update

fix: optimize Mermaid node labels for Firefox compatibility
  .agent-os/standards/mermaid-diagrams.md
  docs/development/testing/lambda-testing.rst
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: complete Mermaid dual-theme standardization
  .cursorrules
  docs/MERMAID_STANDARD.md
  docs/conf.py
  docs/explanation/architecture/overview.rst
  docs/explanation/concepts/tracing-fundamentals.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: enhance pre-commit quality gates for comprehensive change validation
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/reference/index.rst
  scripts/check-changelog-updated.py
  scripts/check-docs-updated.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: update Agent OS rules for enhanced pre-commit quality gates
  .agent-os/standards/best-practices.md
  .agent-os/standards/tech-stack.md
  .cursorrules
  CHANGELOG.md
Due: docs-build-check, mandatory-docs-update

feat: implement CSS-based dual-theme system for Mermaid sequence diagrams
  .agent-os/standards/best-practices.md
  .cursorrules
  docs/MERMAID_STANDARD.md
  docs/_static/mermaid-theme-fix.css
  docs/conf.py
  docs/explanation/architecture/diagrams.rst
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: enforce strict CHANGELOG updates for high-frequency development
  CHANGELOG.md
  scripts/check-changelog-updated.py
Due: tox-format-check, tox-lint-check, docs-build-check

feat: combine documentation compliance checks into single script
  .pre-commit-config.yaml
  docs/changelog.rst
  docs/conf.py
  scripts/check-changelog-updated.py
  scripts/check-docs-updated.py
  scripts/check-documentation-compliance.py
Due: tox-format-check, tox-lint-check, docs-build-check, invalid-tracer-pattern-check

docs: update Agent OS rules for unified documentation compliance
  .agent-os/standards/best-practices.md
  .agent-os/standards/tech-stack.md
Due: docs-build-check, mandatory-docs-update

docs: update BYOI documentation to reflect current compatibility matrix
  docs/explanation/architecture/byoi-design.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: fix OpenLLMetry references to use correct Traceloop naming
  docs/how-to/integrations/multi-provider.rst
  docs/reference/index.rst
  docs/tutorials/03-llm-integration.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check
