Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

fix(tracer): Fixed enrich_session inputs parameter causing 400 errors
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/tracer/core/context.py
  tests/unit/test_tracer_core_context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(infrastructure): Complete praxis OS pre-commit migration
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/changelog.rst
  scripts/benchmark/README.md
  scripts/check-documentation-compliance.py
  scripts/check-feature-sync.py
  scripts/generate-test-from-framework.py
  scripts/setup-dev.sh
  scripts/test-generation-framework-check.py
  scripts/test-generation-metrics.py
  scripts/validate-docs-navigation.sh
  scripts/validate-no-mocks-integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, invalid-tracer-pattern-check

feat: add pretty table output for evaluate() results
  CHANGELOG.md
  docs/changelog.rst
  pyproject.toml
  src/honeyhive/experiments/core.py
  src/honeyhive/experiments/models.py
  tests/unit/test_experiments_models.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: restore missing praxis OS documentation files
  .praxis-os/standards/universal/best-practices.md
  .praxis-os/workspace/product/features.md
  CHANGELOG.md
Due: docs-build-check

feat: distributed tracing improvements and enrich_span_context enhancements
  .praxis-os/standards/.rebuild_index
  .praxis-os/state/workflow/completed/workflow_default_5216beac-a092-415d-b368-6953aef7467b.json
  .praxis-os/workspace/design/2025-11-14-distributed-tracing-improvements.md
  CHANGELOG.md
  DISTRIBUTED_TRACING_IMPROVEMENTS_SUMMARY.md
  docs/how-to/advanced-tracing/custom-spans.rst
  docs/reference/api/utilities.rst
  docs/tutorials/06-distributed-tracing.rst
  examples/integrations/README_DISTRIBUTED_TRACING.md
  examples/integrations/google_adk_agent_server.py
  examples/integrations/google_adk_conditional_agents_example.py
  openapi.yaml
  src/honeyhive/tracer/core/base.py
  src/honeyhive/tracer/instrumentation/decorators.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  src/honeyhive/tracer/processing/__init__.py
  src/honeyhive/tracer/processing/context.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_api_clients_integration.py
  tests/unit/test_tracer_instrumentation_decorators_baggage.py
  tests/unit/test_tracer_processing_context_distributed.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: update end-to-end distributed tracing tutorial with Google ADK examples
  docs/tutorials/06-distributed-tracing.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: replace common enrichment patterns with enrich_span_context section
  docs/how-to/advanced-tracing/span-enrichment.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: correct doc reference to custom-spans in distributed tracing tutorial
  docs/tutorials/06-distributed-tracing.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs(spec): add completed span attribute limit configuration spec
  .praxis-os/config/CONFIG_RECONCILIATION_NEEDED.md
  .praxis-os/config/mcp.yaml.new
  .praxis-os/ouroboros/foundation/runtime_lock.py
  .praxis-os/ouroboros/foundation/tests/test_runtime_lock.py
  .praxis-os/ouroboros/subsystems/rag/utils/progress_file.py
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/ADDENDUM-2025-11-18-lazy-activation.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/IMPLEMENTATION-SUMMARY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/README.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/WORKFLOW-COMPLETION-SUMMARY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/implementation.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/specs.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/srd.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/.processing-mode
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-ALL-CRITICAL-ISSUES-RESOLVED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-C-2-RESOLUTION-SUMMARY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-C-3-UPDATED-WITH-PHASE-C.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-C-3-observability-logging-spec.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-C-4-RESPONSIBILITY-BOUNDARY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-FINAL-ALL-CRITICAL-ISSUES-RESOLVED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-H-1-PRE-RELEASE-CLARIFICATION.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-H-2-OTEL-EVICTION-ANALYSIS.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-H-3-CUSTOMER-RESPONSIBILITY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-H-4-PRECEDENCE-CLARIFICATION.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-H-7-TESTING-REQUIREMENTS.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-M-1-CONFIG-OBSERVABILITY.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-M-2-OTEL-ISOLATION.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-MEDIUM-ISSUES-RESOLVED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-PESSIMISTIC-REVIEW-UPDATED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-SPEC-UPDATE-REQUIRED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-SPEC-UPDATES-COMPLETED.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-max-span-size-implementation-proposal.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-span-attribute-limit-configuration.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/2025-11-18-span-limits-pessimistic-review.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/supporting-docs/INDEX.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/tasks.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/testing/functional-tests.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/testing/nonfunctional-tests.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/testing/requirements-list.md
  .praxis-os/specs/completed/2025-11-18-span-attribute-limit-configuration/testing/test-strategy.md
  .praxis-os/standards/development/pre-commit-gauntlet-survival.md
Due: none

docs(config): add comprehensive span limit configuration documentation
  CHANGELOG.md
  docs/reference/configuration/config-options.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

backwards compatibility and fixes
  CHANGELOG.md
  docs/changelog.rst
  openapi.yaml
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  src/honeyhive/experiments/core.py
  src/honeyhive/models/generated.py
  tests/unit/test_api_datapoints.py
  tests/unit/test_api_evaluations.py
  tests/unit/test_api_metrics.py
  tests/unit/test_models_generated.py
  tests/unit/test_models_integration.py
  tests/unit/test_tracer_instrumentation_initialization.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix tests
  CHANGELOG.md
  docs/changelog.rst
  tests/integration/test_api_clients_integration.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_simple_integration.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix tests 2
  CHANGELOG.md
  docs/changelog.rst
  tests/integration/test_model_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

enable session id overriding
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/__init__.py
  src/honeyhive/tracer/instrumentation/initialization.py
  tests/unit/test_tracer_core_base.py
  tests/unit/test_tracer_instrumentation_initialization.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: bump version to 1.0.0rc5
  CHANGELOG.md
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix enrich session bug
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/advanced-tracing/session-enrichment.rst
  src/honeyhive/tracer/core/context.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add async function support to evaluate function
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog, documentation, and tests for async function support
  CHANGELOG.md
  docs/how-to/evaluation/running-experiments.rst
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update metrics table printing to handle backend response format
  src/honeyhive/experiments/models.py
  src/honeyhive/experiments/results.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add pylint disable comments and integration tests for typed models
  src/honeyhive/experiments/models.py
  tests/integration/test_experiments_integration.py
  tests/unit/test_experiments_models.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add pylint disable comments for Pydantic field access in tests
  tests/integration/test_experiments_integration.py
  tests/unit/test_experiments_models.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

style: apply black formatting to modified files
  src/honeyhive/experiments/models.py
  src/honeyhive/experiments/results.py
  tests/integration/test_experiments_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: support both legacy model_extra and new details array formats in AggregatedMetrics
  src/honeyhive/experiments/models.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog entries and API reference for typed experiment models
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/experiments/models.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

feat: add instrumentors support to evaluate function
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: remove unused Union import
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add ADK instrumentor example for evaluate function
  examples/evaluate_with_adk_instrumentor.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog, documentation, and tests for instrumentors feature
  CHANGELOG.md
  docs/how-to/evaluation/running-experiments.rst
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

minor example fix
  examples/evaluate_with_adk_instrumentor.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

bump up to rc6
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

enable OTLP JSON exporter support
  CHANGELOG.md
  docs/how-to/integrations/non-instrumentor-frameworks.rst
  docs/reference/api/config-models.rst
  docs/reference/api/tracer-architecture.rst
  docs/reference/api/tracer-internals.rst
  docs/reference/configuration/config-options.rst
  docs/reference/data-models/spans.rst
  docs/reference/index.rst
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  src/honeyhive/config/models/otlp.py
  src/honeyhive/experiments/models.py
  src/honeyhive/tracer/instrumentation/initialization.py
  src/honeyhive/tracer/processing/otlp_exporter.py
  tests/unit/test_config_models_otlp.py
  tests/unit/test_tracer_processing_otlp_exporter.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(dev): set up dev shell
  .envrc
  .gitignore
  400_ERROR_INVESTIGATION.md
  DISTRIBUTED_TRACING_IMPROVEMENTS_SUMMARY.md
  NIX_SETUP.md
  README.md
  flake.lock
  flake.nix
  repro_400_error.py
  repro_400_error_failing_evaluator.py
  scripts/setup-dev.sh
Due: docs-build-check

feat: add Makefile
  CONTRIBUTING.md
  Makefile
  NIX_SETUP.md
  flake.nix
Due: none

fix: fix macOS xcrun hijack in nix shell
  flake.nix
Due: none

build: add SDK generation tooling and disable heavy pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  docs/changelog.rst
  flake.nix
  pyproject.toml
  scripts/validate-docs-navigation.sh
Due: docs-build-check, invalid-tracer-pattern-check

refactor: streamline pre-commit hooks, move slow checks to Makefile
  .pre-commit-config.yaml
  Makefile
Due: none

docs: update documentation for streamlined pre-commit workflow
  CHANGELOG.md
  CONTRIBUTING.md
  docs/changelog.rst
Due: docs-build-check, invalid-tracer-pattern-check

refactor: make 'check' run all pre-commit checks comprehensively
  CONTRIBUTING.md
  Makefile
Due: none

docs: simplify CONTRIBUTING.md, point to make help
  CONTRIBUTING.md
Due: none
