Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

feat(dev): add v0 model generation and fix environment isolation
  Makefile
  flake.nix
  pyproject.toml
  scripts/generate_v0_models.py
  src/honeyhive/models/generated.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: move dev checks to CI instead of commit hook
  .github/workflows/tox-full-suite.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  scripts/setup-dev.sh
Due: docs-build-check

chore: parallel tests
  tox.ini
Due: none

chore: remove pre-commit hooks
  Makefile
  flake.nix
  scripts/check-documentation-compliance.py
  scripts/run-basic-integration-tests.sh
Due: tox-format-check, tox-lint-check

fix(tests): update tests to use v0 API (event_name, _tracer_id)
  tests/tracer/test_multi_instance.py
  tests/tracer/test_trace.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

feat: set up OpenAPI specs for dual-version generation (Phase 2)
  V1_MIGRATION.md
  openapi/v0.yaml
  openapi/v1.yaml
  scripts/generate_models_and_client.py
  scripts/generate_v0_models.py
Due: tox-format-check, tox-lint-check

chore: format
  src/honeyhive/_v0/api/client.py
  src/honeyhive/_v0/api/evaluations.py
  src/honeyhive/_v0/models/generated.py
  src/honeyhive/api/base.py
  src/honeyhive/api/client.py
  tests/unit/test_api_projects.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add v1 client generation script (Phase 3)
  Makefile
  V1_MIGRATION.md
  scripts/generate_v1_client.py
  src/honeyhive/_v1/__init__.py
  src/honeyhive/_v1/api/__init__.py
  src/honeyhive/_v1/api/session/__init__.py
  src/honeyhive/_v1/api/session/start_session.py
  src/honeyhive/_v1/client.py
  src/honeyhive/_v1/errors.py
  src/honeyhive/_v1/models/__init__.py
  src/honeyhive/_v1/models/session_start_request.py
  src/honeyhive/_v1/models/session_start_request_config.py
  src/honeyhive/_v1/models/session_start_request_feedback.py
  src/honeyhive/_v1/models/session_start_request_inputs.py
  src/honeyhive/_v1/models/session_start_request_metadata.py
  src/honeyhive/_v1/models/session_start_request_metrics.py
  src/honeyhive/_v1/models/session_start_request_outputs.py
  src/honeyhive/_v1/models/session_start_request_user_properties.py
  src/honeyhive/_v1/models/start_session_body.py
  src/honeyhive/_v1/models/start_session_response_200.py
  src/honeyhive/_v1/types.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

ci: add generated code validation check
  .github/workflows/tox-full-suite.yml
Due: none

fix(tests): update test_baggage_isolation.py to use _tracer_id
  tests/tracer/test_baggage_isolation.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix(ci): add missing pydantic-settings and attrs deps to Lambda Dockerfile
  TODO.md
  tests/lambda/Dockerfile.bundle-builder
Due: none

fix(ci): use pip install /build to auto-resolve all deps from pyproject.toml
  tests/lambda/Dockerfile.bundle-builder
Due: none

feat: add version-specific package builds (Phase 4)
  Makefile
  V1_MIGRATION.md
  hatch_build.py
  pyproject.toml
  scripts/filter_wheel.py
Due: tox-format-check, tox-lint-check

docs: document Lambda test event_type validation issue in TODO.md
  TODO.md
Due: none

feat(ci): add package build verification for v0 and v1 wheels
  .github/workflows/tox-full-suite.yml
  V1_MIGRATION.md
Due: none

refactor: rename generate-sdk to generate, combine both clients
  Makefile
Due: none

feat: add generate-sdk target for comparison output
  Makefile
Due: none

feat: add openapi-python-generator pipeline for v1 client
  Makefile
  openapi/v1_minimal.yaml
  pyproject.toml
  scripts/generate_client.py
  scripts/generate_models.py
  src/honeyhive/_generated/__init__.py
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/models/Configuration.py
  src/honeyhive/_generated/models/CreateConfigurationRequest.py
  src/honeyhive/_generated/models/CreateConfigurationResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/__init__.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/client_v1.py
  src/honeyhive/models_v1.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add async methods to all API wrapper classes
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update imports to use correct model names from generated API
  TODO.md
  src/honeyhive/evaluation/evaluators.py
  src/honeyhive/experiments/__init__.py
  src/honeyhive/experiments/core.py
  src/honeyhive/models/tracing.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: remove v0 model imports from test utilities
  tests/utils.py
  tests/utils/__init__.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

refactor: remove v0 model imports from all test files
  tests/integration/test_api_clients_integration.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/integration/test_v1_immediate_ship_requirements.py
  tests/unit/test_api_configurations.py
  tests/unit/test_api_evaluations.py
  tests/unit/test_api_events.py
  tests/unit/test_api_metrics.py
  tests/unit/test_api_tools.py
  tests/unit/test_api_workflows.py
  tests/unit/test_models_generated.py
  tests/unit/test_models_integration.py
  tests/unit/test_tracer_core_operations.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: update validation_helpers.py to use v1 models
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: remove PostConfigurationRequest import from validation_helpers
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

archive: move v0 unit tests to _v0_archive for reference
  API_CLIENT_IMPACT.md
  SCHEMA_MAPPING_TODO.md
  V1_GENERATED_CLIENT_PLAN.md
  flake.nix
  pytest.ini
  src/honeyhive/api/client.py
  src/honeyhive/cli/main.py
  src/honeyhive/experiments/results.py
  src/honeyhive/tracer/core/base.py
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/core/operations.py
  src/honeyhive/tracer/instrumentation/initialization.py
  tests/unit/_v0_archive/README.md
  tests/unit/_v0_archive/test_api_base.py
  tests/unit/_v0_archive/test_api_client.py
  tests/unit/_v0_archive/test_api_configurations.py
  tests/unit/_v0_archive/test_api_datapoints.py
  tests/unit/_v0_archive/test_api_datasets.py
  tests/unit/_v0_archive/test_api_evaluations.py
  tests/unit/_v0_archive/test_api_events.py
  tests/unit/_v0_archive/test_api_metrics.py
  tests/unit/_v0_archive/test_api_projects.py
  tests/unit/_v0_archive/test_api_session.py
  tests/unit/_v0_archive/test_api_tools.py
  tests/unit/_v0_archive/test_api_workflows.py
  tests/unit/_v0_archive/test_models_generated.py
  tests/unit/_v0_archive/test_models_integration.py
  tests/unit/_v0_archive/test_tracer_core_operations.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix a few tests
  pyproject.toml
  src/honeyhive/api/client.py
  tests/unit/test_tracer_core_base.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

update to v1 prefix, fix generated model json
  openapi/v1.yaml
  scripts/generate_client.py
  src/honeyhive/_generated/models/CreateDatapointRequest.py
  src/honeyhive/_generated/models/DeleteConfigurationParams.py
  src/honeyhive/_generated/models/DeleteSessionParams.py
  src/honeyhive/_generated/models/GetSessionParams.py
  src/honeyhive/_generated/models/UpdateConfigurationParams.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Sessions_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  src/honeyhive/cli/main.py
  src/honeyhive/evaluation/evaluators.py
  src/honeyhive/experiments/results.py
  src/honeyhive/models/__init__.py
  src/honeyhive/tracer/instrumentation/initialization.py
  tests/integration/conftest.py
  tests/integration/test_simple_integration.py
  tests/unit/_v0_archive/test_models_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

2 more tests
  INTEGRATION_TESTS_TODO.md
  SCHEMA_MAPPING_TODO.md
  TODO.md
  V1_GENERATED_CLIENT_PLAN.md
  src/honeyhive/api/client.py
  tests/integration/test_api_clients_integration.py
  tests/integration/test_simple_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

some working integration tests
  INTEGRATION_TESTS_TODO.md
  src/honeyhive/_generated/models/GetDatasetsResponse.py
  tests/integration/api/__init__.py
  tests/integration/api/conftest.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_experiments_api.py
  tests/integration/api/test_metrics_api.py
  tests/integration/api/test_projects_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_api_clients_integration.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_evaluate_enrich.py
  tests/integration/test_experiments_integration.py
  tests/integration/test_honeyhive_attributes_backend_integration.py
  tests/integration/test_model_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Document untyped API endpoints and generated client issues
  INTEGRATION_TESTS_TODO.md
  UNTYPED_ENDPOINTS.md
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

refactor: Use typed PostSessionResponse model throughout codebase
  openapi/v1.yaml
  src/honeyhive/_generated/models/GetDatasetsResponse.py
  src/honeyhive/_generated/models/PostSessionRequest.py
  src/honeyhive/_generated/models/PostSessionResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/api/client.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_metrics_api.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_honeyhive_attributes_backend_integration.py
  tests/integration/test_model_integration.py
  tests/integration/test_otel_otlp_export_integration.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: Unskip 4 HoneyHive attributes tests - EventType migration complete
  tests/integration/test_honeyhive_attributes_backend_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Add events schemas
  openapi/v1.yaml
  src/honeyhive/_generated/models/DeleteEventParams.py
  src/honeyhive/_generated/models/DeleteEventResponse.py
  src/honeyhive/_generated/models/Event.py
  src/honeyhive/_generated/models/GetEventsBySessionIdParams.py
  src/honeyhive/_generated/models/GetEventsBySessionIdResponse.py
  src/honeyhive/_generated/models/GetEventsChartQuery.py
  src/honeyhive/_generated/models/GetEventsChartResponse.py
  src/honeyhive/_generated/models/GetEventsQuery.py
  src/honeyhive/_generated/models/GetEventsResponse.py
  src/honeyhive/_generated/models/PostEventRequest.py
  src/honeyhive/_generated/models/PostEventResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/async_Events_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: Update EventsAPI to use newly typed Event models
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: Update tracer to use typed PostEventRequest model
  src/honeyhive/tracer/core/operations.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check
