Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-build-check, feature-list-sync, changelog-update-check

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature List Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

fix: Remove quotes from 'on' trigger in release-candidate workflow
  .github/workflows/release-candidate.yml
  CHANGELOG.md
  docs/FEATURE_LIST.rst
Due: docs-build-check, feature-list-sync

fix: Improve release candidate workflow artifact handling
  .github/workflows/release-candidate.yml
  CHANGELOG.md
  docs/FEATURE_LIST.rst
Due: docs-build-check, feature-list-sync

feat: Implement mandatory AI assistant validation protocol
  .agent-os/README.md
  .agent-os/specs/2025-09-02-ai-validation-protocol/specs.md
  .agent-os/standards/best-practices.md
  .cursorrules
  .github/workflows/release-candidate.yml
  CHANGELOG.md
  docs/FEATURE_LIST.rst
Due: docs-build-check, feature-list-sync

fix: Remove invalid 'project' parameter from HoneyHive constructor
  .github/workflows/release-candidate.yml
Due: none

feat: Rewrite documentation workflows with proper API validation
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-versioned.yml
  CHANGELOG.md
  docs/FEATURE_LIST.rst
Due: docs-build-check, feature-list-sync

refactor: Remove empty comparisons and decisions sections from explanation docs
  docs/explanation/index.rst
Due: docs-build-check

refactor: Promote architecture diagrams to primary section in explanations
  docs/explanation/index.rst
Due: docs-build-check

refactor: Flatten triple-nested sections in API Reference for better discoverability
  docs/reference/index.rst
Due: docs-build-check

refactor: Replace context managers with decorator-first approach in common patterns
  docs/how-to/common-patterns.rst
Due: docs-build-check

docs: Remove Dashboard Tour tutorial section
  docs/DIVIO_REORGANIZATION_PLAN.md
  docs/tutorials/04-evaluation-basics.rst
  docs/tutorials/05-dashboard-tour.rst
  docs/tutorials/advanced-setup.rst
  docs/tutorials/index.rst
Due: docs-build-check

feat: Add comprehensive trace enrichment tutorial
  docs/tutorials/04-evaluation-basics.rst
  docs/tutorials/05-trace-enrichment.rst
  docs/tutorials/advanced-setup.rst
  docs/tutorials/index.rst
Due: docs-build-check

feat: Add comprehensive changelog section to documentation
  docs/changelog.rst
  docs/index.rst
Due: docs-build-check

refactor: Simplify documentation navigation hierarchy
  docs/index.rst
Due: docs-build-check

refactor: Restructure how-to guides with action-oriented titles
  docs/how-to/advanced-tracing/index.rst
  docs/how-to/index.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/testing/index.rst
Due: docs-build-check

refactor: Move testing docs to SDK development section
  docs/development/index.rst
  docs/development/testing/ci-cd-integration.rst
  docs/development/testing/index.rst
  docs/development/testing/integration-testing.rst
  docs/development/testing/lambda-testing.rst
  docs/development/testing/mocking-strategies.rst
  docs/development/testing/performance-testing.rst
  docs/development/testing/troubleshooting-tests.rst
  docs/development/testing/unit-testing.rst
  docs/how-to/index.rst
  docs/index.rst
Due: docs-build-check

feat: Implement comprehensive AI Assistant Quality Framework
  .agent-os/specs/2025-09-03-ai-assistant-quality-framework/README.md
  .agent-os/specs/2025-09-03-ai-assistant-quality-framework/implementation.md
  .agent-os/specs/2025-09-03-zero-failing-tests-policy/README.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/tech-stack.md
  .cursorrules
Due: docs-build-check

feat: Add comprehensive date usage standards for AI assistants
  .agent-os/specs/2025-09-03-date-usage-standards/README.md
  .agent-os/standards/best-practices.md
  .cursorrules
Due: docs-build-check

fix: Update testing documentation link in main index
  docs/index.rst
Due: docs-build-check

fix: Update all references to moved testing documentation
  docs/TESTING.rst
  docs/how-to/advanced-tracing/index.rst
  docs/how-to/advanced-tracing/tracer-auto-discovery.rst
  docs/reference/cli/commands.rst
  docs/reference/cli/options.rst
  docs/reference/configuration/authentication.rst
  docs/tutorials/04-evaluation-basics.rst
Due: docs-build-check

feat: Implement comprehensive documentation quality control system
  .agent-os/specs/2025-09-03-documentation-quality-control/README.md
  .github/workflows/docs-deploy.yml
  CHANGELOG.md
  docs/FEATURE_LIST.rst
  docs/Makefile
  docs/TESTING.rst
  docs/how-to/index.rst
  tox.ini
Due: docs-build-check, feature-list-sync

feat: Add comprehensive commit message standards
  .agent-os/specs/2025-09-03-commit-message-standards/README.md
  .agent-os/standards/best-practices.md
  .cursorrules
Due: docs-build-check

fix: Remove empty html_static_path causing Sphinx warnings
  docs/conf.py
Due: none

feat: comprehensive quality framework with zero failing tests policy
  .agent-os/specs/2025-09-02-performance-optimization/specs.md
  .agent-os/specs/2025-09-02-performance-optimization/srd.md
  .agent-os/specs/2025-09-02-performance-optimization/tasks.md
  .agent-os/specs/2025-09-03-documentation-quality-prevention/README.md
  .agent-os/specs/2025-09-03-documentation-quality-prevention/implementation.md
  .agent-os/specs/2025-09-03-documentation-quality-prevention/specs.md
  .agent-os/specs/2025-09-03-documentation-quality-prevention/tasks.md
  .agent-os/specs/2025-09-03-zero-failing-tests-policy/README.md
  .agent-os/standards/best-practices.md
  .cursorrules
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/reference/index.rst
  scripts/check-docs-updated.py
  scripts/check-feature-sync.py
  src/honeyhive/tracer/otel_tracer.py
  src/honeyhive/tracer/registry.py
  tests/conftest.py
  tests/integration/test_tracer_backward_compatibility.py
  tests/unit/test_tracer_registry.py
Due: docs-build-check, feature-list-sync, changelog-update-check

feat: implement proper branching strategy and workflow optimization
  .agent-os/standards/best-practices.md
  .github/workflows/docs-preview.yml
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/reference/index.rst
  netlify.toml
Due: docs-build-check

fix: correct workflow triggers to eliminate duplicate runs
  .agent-os/standards/best-practices.md
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/reference/index.rst
Due: docs-build-check

docs: remove partnership language from BYOI documentation
  .agent-os/product/features.md
  CHANGELOG.md
  docs/explanation/architecture/byoi-design.rst
  docs/index.rst
  docs/reference/index.rst
Due: docs-build-check, feature-list-sync

cleanup: remove remaining Netlify references and documentation
  CHANGELOG.md
  COMMIT_INSTRUCTIONS.md
  COMMIT_SUMMARY.md
  commit_docs.sh
  commit_final.sh
  docs/AGENT_OS_COMPLIANCE.md
  docs/HOSTING_STRATEGY.md
  docs/SETUP.md
  execute_commit.sh
Due: docs-build-check

chore: trigger fresh status checks after Netlify removal
  .gitignore
Due: none

docs: standardize Agent OS files and cursor rules
  .agent-os/product/audience.md
  .agent-os/product/features.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/tech-stack.md
  .cursorrules
  CHANGELOG.md
Due: docs-build-check, feature-list-sync

perf: optimize pre-commit hooks for targeted execution
  .agent-os/standards/best-practices.md
  .pre-commit-config.yaml
  CHANGELOG.md
Due: docs-build-check

docs: clean up main landing page presentation
  CHANGELOG.md
  docs/index.rst
Due: docs-build-check

feat: add Google ADK instrumentor support with comprehensive integration
  .agent-os/standards/best-practices.md
  CHANGELOG.md
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/multi-provider.rst
  examples/README.md
  examples/simple_google_adk_integration.py
  tests/compatibility_matrix/README.md
  tests/compatibility_matrix/test_google_adk.py
Due: docs-build-check, changelog-update-check

feat: Add mandatory post-deploy navigation validation system
  .agent-os/standards/best-practices.md
  .github/workflows/docs-validation.yml
  CHANGELOG.md
  docs/reference/index.rst
  docs/utils/README.md
  docs/utils/requirements.txt
  docs/utils/validate_navigation.py
Due: docs-build-check

feat: Fix invalid tracer patterns and simplify integration navigation
  .agent-os/standards/best-practices.md
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/aws-bedrock.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/multi-provider.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check

feat: Add mandatory tutorial integration standards and Google ADK coverage
  .agent-os/standards/best-practices.md
  CHANGELOG.md
  docs/tutorials/03-llm-integration.rst
Due: docs-build-check

feat: add OpenInference MCP instrumentor integration
  .agent-os/specs/2025-09-03-openinference-mcp-instrumentor/README.md
  .agent-os/specs/2025-09-03-openinference-mcp-instrumentor/specs.md
  .agent-os/specs/2025-09-03-openinference-mcp-instrumentor/tasks.md
  .agent-os/standards/best-practices.md
  CHANGELOG.md
  docs/how-to/integrations/index.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/multi-provider.rst
  docs/tutorials/03-llm-integration.rst
  examples/mcp_integration.py
  pyproject.toml
  tests/compatibility_matrix/test_mcp.py
  tests/test_mcp_integration.py
Due: docs-build-check, changelog-update-check

feat: add simple_mcp_integration.py example following established pattern
  examples/README.md
  examples/simple_mcp_integration.py
Due: none

fix: update failing test for project parameter removal
  tests/unit/test_tracer.py
Due: changelog-update-check

Path conditions:
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/FEATURE_LIST\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
