Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add debug logging to get_by_session_id_async flow (HHAI-3873)
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add EventDict wrapper with OTLP type coercion for test assertions
  tests/integration/test_otel_concurrency_integration.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: avoid coercing default values in EventDict.get()
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

chore: add changelog entry and remove redundant status code logs
  CHANGELOG.md
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: compact docs preview PR comment with details accordion
  .github/workflows/docs-preview.yml
Due: none

fix: use array-join to avoid whitespace issues inside details block
  .github/workflows/docs-preview.yml
Due: none

fix: auto-infer is_evaluation when dataset_id, datapoint_id, and run_id are all defined
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: sync config dict when auto-inferring is_evaluation
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: apply black formatting
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: accept optional run_id in POST /v1/runs request
  openapi/v1.yaml
  src/honeyhive/_generated/models/PostExperimentRunRequest.py
  src/honeyhive/_generated/models/TODOSchema.py
  src/honeyhive/experiments/utils.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: allow setting run_id in evaluate()
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: clarify why client-side UUID is generated in evaluate()
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog entry for custom run_id in evaluate()
  CHANGELOG.md
Due: docs-build-check

test: add unit and integration tests for custom run_id
  tests/unit/test_experiments_utils.py
  tests_v2/integrations/test_evaluate_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

feat: add hh-sdk-version header to all HTTP requests
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Sessions_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
  src/honeyhive/api/client.py
  src/honeyhive/cli/main.py
  src/honeyhive/tracer/instrumentation/initialization.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update code-gen templates, add graceful degradation and CHANGELOG
  CHANGELOG.md
  scripts/templates/apiconfig_pydantic_2.jinja2
  scripts/templates/httpx.jinja2
  src/honeyhive/_generated/api_config.py
  src/honeyhive/cli/main.py
  src/honeyhive/tracer/instrumentation/initialization.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: gitignore .envrc and .worktrees
  .envrc
  .gitignore
Due: none

chore: add .envrc.example for new developers
  .envrc.example
Due: none

fix(ci): generate per-release-tag changelog entries instead of one monolithic entry
  .github/workflows/generate-changelog.yml
Due: none

fix(ci): address review feedback - remove dead inputs, add tag reachability, batching
  .github/workflows/generate-changelog.yml
Due: none

feat: allow setting run_id in evaluate() (#253)
  CHANGELOG.md
  openapi/v1.yaml
  src/honeyhive/_generated/models/PostExperimentRunRequest.py
  src/honeyhive/_generated/models/TODOSchema.py
  src/honeyhive/experiments/core.py
  src/honeyhive/experiments/utils.py
  tests/unit/test_experiments_utils.py
  tests_v2/integrations/test_evaluate_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: simplify CHANGELOG entry and add unit tests for hh-sdk-version header
  CHANGELOG.md
  tests_v2/unit/test_api_config_headers.py
Due: docs-build-check

Clarify 'hh-sdk-version' header description in CHANGELOG
  CHANGELOG.md
Due: docs-build-check

feat: add hh-sdk-language and hh-sdk-package headers to all HTTP requests
  CHANGELOG.md
  scripts/templates/apiconfig_pydantic_2.jinja2
  src/honeyhive/_generated/api_config.py
  src/honeyhive/cli/main.py
  src/honeyhive/tracer/instrumentation/initialization.py
  tests_v2/unit/test_api_config_headers.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add 2-stage Claude review with @claude approve risk assessment
  .github/workflows/claude-code-review.yml
Due: none

Re-enable CI integration tests with temporary skiplist
  .github/workflows/tox-full-suite.yml
  tests/integration/ci_known_failures.txt
  tests/integration/conftest.py
  tox.ini
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

chore(release): release 1.0.0rc17
  Makefile
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(release): update CHANGELOG.md
  CHANGELOG.md
Due: docs-build-check

Update Makefile
  Makefile
Due: none

chore(release): Release 1.0.0rc17 (#273)
  CHANGELOG.md
  Makefile
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add debug logging for HH_PROJECT in CI workflow
  .github/workflows/tox-full-suite.yml
Due: none

Test fixes
  tests/integration/test_experiments_integration.py
  tests/integration/test_v1_immediate_ship_requirements.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Cleaned up GHA file
  .github/workflows/tox-full-suite.yml
Due: none

Better separation of env vars
  .github/workflows/tox-full-suite.yml
Due: none

Code formatting fix
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Add debug logging to verify backend URL in tests
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Removed debugging code
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Add .env files to gitignore
  .gitignore
Due: none

CI fix
  .github/workflows/tox-full-suite.yml
Due: none

Removed fallback
  .github/workflows/tox-full-suite.yml
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
