Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

fix: classify spans with message history as chain/model instead of tool
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Next round of test fixes
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Yet more fixes
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Is anyone even reading these messages on a Friday evening?
  tests/integration/api/test_datasets_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

I dreamed a dream of times gone by...
  tests/integration/api/test_datasets_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Suddenly Seymor, is standing beside me...
  tests/integration/test_otel_backend_verification_integration.py
  tests/integration/test_otel_concurrency_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

It's only for now...
  tests/integration/test_otel_concurrency_integration.py
  tests/integration/test_otel_otlp_export_integration.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Make your shitty life better...
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  tests/integration/test_e2e_patterns.py
  tests/integration/test_otel_concurrency_integration.py
  tests/integration/test_otel_performance_regression_integration.py
  tests/integration/test_real_instrumentor_integration_comprehensive.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add 5xx retry with backoff and include response body in error messages
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Skip test_list_datapoints: backend 500 on legacy data
  tests/integration/api/test_datapoints_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Fix evaluate() with external datasets: UUIDType serialization and datapoint_ids validation
  src/honeyhive/_generated/models/UUIDType.py
  src/honeyhive/experiments/utils.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add id field to Dataset model
  src/honeyhive/_generated/models/Dataset.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add name filter to datasets.list()
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: never set event_type to 'tool' when span has recorded events
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: use .pop() for KeyError safety when removing honeyhive_event_type
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: make mermaid architecture diagram visible on light backgrounds
  docs/reference/api/tracer-architecture.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

Remove examples requirements.txt to fix Snyk security check
  examples/integrations/requirements.txt
Due: none

fix: remove inaccurate batch processing claim from tracer architecture docs
  docs/reference/api/tracer-architecture.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: correct distributed tracing example and remove false deprecation claim in Sphinx docs
  docs/how-to/deployment/tracer-initialization-patterns.rst
Due: docs-build-check, invalid-tracer-pattern-check

Removed dead code from older v0 implementation
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  tests/unit/_v0_archive/test_api_datapoints.py
  tests/unit/_v0_archive/test_api_events.py
  tests/unit/_v0_archive/test_api_metrics.py
  tests/unit/_v0_archive/test_tracer_core_operations.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Test fix
  tests/integration/api/test_datapoints_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Cleanup
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Removed dead code from older v0 implementation
  src/honeyhive/api/client.py
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  src/honeyhive/models/__init__.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/unit/_v0_archive/test_api_datapoints.py
  tests/unit/_v0_archive/test_api_events.py
  tests/unit/_v0_archive/test_api_metrics.py
  tests/unit/_v0_archive/test_tracer_core_operations.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Convert some anys to types
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Cleaner aliases
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

make build fixed
  Makefile
Due: none

More aliasing work
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add explicit types (#225)
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Spec fixes for known issues
  openapi/openapi.yaml
  src/honeyhive/_generated/models/CreateRunRequest.py
  src/honeyhive/_generated/models/Dataset.py
  src/honeyhive/api/client.py
  src/honeyhive/experiments/utils.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

More fixes
  openapi/openapi.yaml
  src/honeyhive/_generated/models/Configuration.py
  src/honeyhive/_generated/models/CreateEventRequest.py
  src/honeyhive/_generated/models/CreateToolRequest.py
  src/honeyhive/_generated/models/Metric.py
  src/honeyhive/_generated/models/Project.py
  src/honeyhive/_generated/models/Tool.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Spec fixes for known issues (#226)
  openapi/openapi.yaml
  src/honeyhive/_generated/models/Configuration.py
  src/honeyhive/_generated/models/CreateEventRequest.py
  src/honeyhive/_generated/models/CreateRunRequest.py
  src/honeyhive/_generated/models/CreateToolRequest.py
  src/honeyhive/_generated/models/Dataset.py
  src/honeyhive/_generated/models/Metric.py
  src/honeyhive/_generated/models/Project.py
  src/honeyhive/_generated/models/Tool.py
  src/honeyhive/api/client.py
  src/honeyhive/experiments/utils.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Missed an alias
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Missed an alias (#227)
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Version bump
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Version bump (#228)
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check
