Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add backwards compatibility parameters and core logic
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  src/honeyhive/tracer/otel_tracer.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: complete backwards compatibility implementation
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  src/honeyhive/tracer/otel_tracer.py
  tests/unit/test_cli_main.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: update documentation for complete backwards compatibility
  CHANGELOG.md
  docs/how-to/backwards-compatibility-guide.rst
  docs/how-to/index.rst
  docs/reference/api/tracer.rst
  docs/reference/configuration/environment-vars.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: replace print statements with structured logging for production readiness
  CHANGELOG.md
  docs/changelog.rst
  src/honeyhive/api/session.py
  src/honeyhive/tracer/decorators.py
  src/honeyhive/tracer/otel_tracer.py
  src/honeyhive/tracer/processor_integrator.py
  tests/unit/test_tracer_otel_tracer.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: achieve 100% unit test success with comprehensive backwards compatibility
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/configuration/config-options.rst
  docs/reference/index.rst
  scripts/backwards_compatibility_monitor.py
  src/honeyhive/tracer/otel_tracer.py
  src/honeyhive/utils/config.py
  tests/unit/backwards_compatibility/README.md
  tests/unit/backwards_compatibility/test_production_patterns.py
  tests/unit/backwards_compatibility/test_regression_detection.py
  tests/unit/backwards_compatibility/test_runtime_environment_loading.py
  tests/unit/test_environment_variables.py
  tests/unit/test_tracer.py
  tests/unit/test_tracer_otel_tracer.py
  tox.ini
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: implement single-source versioning with dynamic version from __init__.py
  pyproject.toml
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: correct multi-instance tracer philosophy in advanced tracing docs
  CHANGELOG.md
  docs/how-to/advanced-tracing/index.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: comprehensive documentation consistency and quality improvements
  CHANGELOG.md
  docs/_templates/generate_provider_docs.py
  docs/_templates/multi_instrumentor_integration_formal_template.rst
  docs/development/testing/integration-testing.rst
  docs/development/testing/lambda-testing.rst
  docs/development/testing/mocking-strategies.rst
  docs/development/testing/performance-testing.rst
  docs/development/testing/setup-and-commands.rst
  docs/development/testing/troubleshooting-tests.rst
  docs/development/testing/unit-testing.rst
  docs/explanation/architecture/byoi-design.rst
  docs/explanation/concepts/llm-observability.rst
  docs/explanation/concepts/tracing-fundamentals.rst
  docs/how-to/advanced-tracing/custom-spans.rst
  docs/how-to/advanced-tracing/tracer-auto-discovery.rst
  docs/how-to/common-patterns.rst
  docs/how-to/deployment/production.rst
  docs/how-to/index.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/multi-provider.rst
  docs/how-to/integrations/openai.rst
  docs/how-to/migration-guide.rst
  docs/index.rst
  docs/reference/api/client.rst
  docs/reference/api/decorators.rst
  docs/reference/api/tracer.rst
  docs/reference/configuration/authentication.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/index.rst
  docs/tutorials/01-quick-start.rst
  docs/tutorials/02-basic-tracing.rst
  docs/tutorials/03-llm-integration.rst
  docs/tutorials/04-evaluation-basics.rst
  docs/tutorials/advanced-setup.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: fix toctree regression in integration guides
  docs/_templates/multi_instrumentor_integration_formal_template.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check, invalid-tracer-pattern-check

feat: enhance Agent OS standards and AI assistant compliance
  .agent-os/README.md
  .agent-os/standards/README.md
  .agent-os/standards/ai-assistant/README.md
  .agent-os/standards/ai-assistant/credential-file-protection.md
  .cursorrules
  CHANGELOG.md
Due: docs-build-check, mandatory-docs-update

Fix: Exclude Agent OS spec proposals from CHANGELOG requirement
  CHANGELOG.md
  docs/changelog.rst
  scripts/check-documentation-compliance.py
Due: tox-format-check, tox-lint-check, docs-build-check, invalid-tracer-pattern-check

Add Agent OS MCP/RAG Evolution Specification (Design Phase)
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/DYNAMIC-LOGIC-ALIGNMENT.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/README.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/ai-ownership-protocol.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/implementation.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/rag-architecture.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/specs.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/srd.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/tasks.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/testing-strategy.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/workflow-engine-design.md
Due: docs-build-check

feat(agent-os): implement MCP/RAG server with HoneyHive tracing dogfooding
  .agent-os/mcp_servers/README.md
  .agent-os/mcp_servers/__init__.py
  .agent-os/mcp_servers/__main__.py
  .agent-os/mcp_servers/agent_os_rag.py
  .agent-os/mcp_servers/chunker.py
  .agent-os/mcp_servers/models.py
  .agent-os/mcp_servers/rag_engine.py
  .agent-os/mcp_servers/requirements.txt
  .agent-os/mcp_servers/state_manager.py
  .agent-os/mcp_servers/workflow_engine.py
  .agent-os/run_mcp_server.py
  .agent-os/scripts/__init__.py
  .agent-os/scripts/benchmark_rag.py
  .agent-os/scripts/build_rag_index.py
  .agent-os/scripts/demo_mcp_server.py
  .agent-os/scripts/test_hot_reload.py
  .agent-os/scripts/validate_rag.py
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/case-study.md
  .agent-os/specs/2025-10-03-agent-os-mcp-rag-evolution/tasks.md
  .agent-os/specs/agent-os-rag-mcp-architecture.md
  .agent-os/standards/README.md
  .agent-os/standards/ai-assistant/README.md
  .agent-os/standards/ai-assistant/import-verification-rules.md
  .cursor/mcp.json
  .cursorrules
  .gitignore
  CHANGELOG.md
  docs/changelog.rst
  docs/development/agent-os-mcp-server.rst
  docs/development/index.rst
  pyproject.toml
  pytest.ini
  tests/unit/mcp_servers/__init__.py
  tests/unit/mcp_servers/test_chunker.py
  tests/unit/mcp_servers/test_models.py
  tests/unit/mcp_servers/test_rag_engine.py
  tests/unit/mcp_servers/test_state_manager.py
  tests/unit/mcp_servers/test_workflow_engine.py
Due: tox-format-check, tox-lint-check, docs-build-check, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add Agent OS MCP enforcement standards and operating model
  .agent-os/README.md
  .agent-os/standards/ai-assistant/OPERATING-MODEL.md
  .agent-os/standards/ai-assistant/mcp-enforcement-rules.md
  .agent-os/standards/ai-assistant/mcp-tool-usage-guide.md
  .cursorrules
  CHANGELOG.md
Due: docs-build-check, mandatory-docs-update

feat(spec): Add HoneyHive SDK Documentation MCP Server specification
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/README.md
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/implementation.md
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/specs.md
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/srd.md
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/tasks.md
Due: docs-build-check

fix(agent-os): prevent MCP index corruption with thread-safe locking
  .agent-os/mcp_servers/agent_os_rag.py
  .agent-os/mcp_servers/rag_engine.py
  .agent-os/mcp_servers/requirements.txt
  .agent-os/scripts/test_concurrent_access.py
  CHANGELOG.md
Due: docs-build-check

feat(agent-os): add production code universal standards for AI quality guardrails
  .agent-os/standards/development/concurrency-analysis-protocol.md
  .agent-os/standards/development/failure-mode-analysis-template.md
  .agent-os/standards/development/production-code-universal-checklist.md
  .agent-os/standards/development/version-pinning-standards.md
  .cursorrules
  CHANGELOG.md
Due: docs-build-check, mandatory-docs-update

docs(agent-os): add Docs MCP spec validation against Agent OS MCP lessons learned
  .agent-os/specs/2025-10-04-honeyhive-sdk-docs-mcp/VALIDATION.md
Due: docs-build-check

fix(pre-commit): exclude .agent-os/specs/ from documentation checks
  .pre-commit-config.yaml
Due: none

remove undefined variable of LLAMAINDEX_INSTALLED
  src/honeyhive/utils/llamaindex_tracer.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix metrics API client
  src/honeyhive/api/metrics.py
  src/honeyhive/models/generated.py
  tests/unit/test_api_metrics.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

examples: add OpenAI Agents integration and refactor Strands integration
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  env.integration.example
  examples/integrations/README.md
  examples/integrations/openai_agents_integration.py
  examples/integrations/semantic_kernel_integration.py
  examples/integrations/strands_integration.py
  src/honeyhive/api/metrics.py
  src/honeyhive/models/generated.py
  tests/unit/test_api_metrics.py
  tests/unit/test_models_integration.py
  tests/unit/test_tracer_registry.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add comprehensive raw span data dumping for debugging
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: update Google ADK integration example with async support
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat: add LangGraph integration example
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/README.md
  examples/integrations/langgraph_integration.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add Pydantic AI integration example
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/README.md
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

fix(tracing): restore enrich_span() backwards compatibility
  CHANGELOG.md
  docs/changelog.rst
  docs/how-to/advanced-tracing/span-enrichment.rst
  docs/reference/api/decorators.rst
  docs/reference/index.rst
  docs/tutorials/03-enable-span-enrichment.rst
  src/honeyhive/tracer/instrumentation/decorators.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  src/honeyhive/tracer/instrumentation/span_utils.py
  tests/integration/test_tracer_integration.py
  tests/unit/test_tracer_instrumentation_decorators.py
  tests/unit/test_tracer_instrumentation_enrichment.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add AWS Bedrock direct integration example
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/README.md
  examples/integrations/bedrock_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat: add DSPy integration example
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/README.md
  examples/integrations/dspy_integration.py
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat: add AutoGen (AG2) integration example
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/autogen_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat: add span capture and test case generation utilities
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/GENERATE_TEST_CASES.md
  examples/integrations/autogen_integration.py
  examples/integrations/capture_spans.py
  examples/integrations/convert_spans_to_test_cases.py
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

feat: enhance evaluate() with environment variable support
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  src/honeyhive/experiments/core.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: enhance integration examples with requirements and fixes
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/index.rst
  examples/integrations/README.md
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/requirements.txt
  examples/integrations/strands_integration.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, mandatory-docs-update, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
