Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Syntax fix
  .github/workflows/tox-full-suite.yml
Due: none

CI config fix
  .github/workflows/tox-full-suite.yml
Due: none

Updated makefile
  Makefile
Due: none

chore: new env vars for new test project (#260)
  .github/workflows/tox-full-suite.yml
  .gitignore
  Makefile
  tests/integration/test_experiments_integration.py
  tests/integration/test_v1_immediate_ship_requirements.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

feat: batch query string array params to avoid URL length limits
  src/honeyhive/api/client.py
  tests/unit/test_api_query_batching.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address PR review feedback for query batching
  src/honeyhive/api/client.py
  tests/unit/test_api_query_batching.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog entry for query string batching
  CHANGELOG.md
Due: docs-build-check

chore: regenerate code and reformat with black/isort
  src/honeyhive/api/client.py
  tests/unit/test_api_query_batching.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: rewrite dspy integration example to match current conventions
  examples/integrations/dspy_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: rewrite openai-agents example to match current conventions
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: update langgraph integration example to customer support domain
  examples/integrations/langgraph_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: update strands-agents integration example with customer support domain
  examples/integrations/strands_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add comment clarifying hardcoded policy topic in coordinator demo
  examples/integrations/dspy_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): add autogen-agentchat 0.7.5 integration example
  examples/integrations/autogen_agentchat_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address review comments - json.dumps, Runner.run input bug
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: update semantic-kernel example to customer support domain
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address review comments - type hints, KeyError guard, name-prefixed nodes, exact routing, uninstrument
  examples/integrations/langgraph_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address review feedback - add print output, move Swarm import, fix string concat
  examples/integrations/strands_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add OPENAI_API_KEY validation guard per review feedback
  examples/integrations/autogen_agentchat_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: prevent false positive model classification for agent_runtime spans
  src/honeyhive/tracer/utils/event_type.py
  tests/unit/test_tracer_utils_event_type.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

address review: align mock data format, use .content, add env guard, remove capture_spans
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address review feedback - remove redundant prefix, restore ml_prediction_service test
  src/honeyhive/tracer/utils/event_type.py
  tests/unit/test_tracer_utils_event_type.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: align get_model_patterns() with tighter detection patterns
  src/honeyhive/tracer/utils/event_type.py
  tests/unit/test_tracer_utils_event_type.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: preserve attribute types in OTLPJSONExporter instead of converting all to strings
  src/honeyhive/tracer/processing/otlp_exporter.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: format test file via make generate (black/isort)
  tests/unit/test_tracer_utils_event_type.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

docs: add CHANGELOG entry for OTLP JSON type preservation fix
  CHANGELOG.md
Due: docs-build-check

docs: add CHANGELOG entry for event type detection fix
  CHANGELOG.md
Due: docs-build-check

style: apply black formatting to match generated code check
  src/honeyhive/tracer/processing/otlp_exporter.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update tests_v2 event type tests to match tighter model patterns
  tests_v2/unit/test_tracer_utils_event_type.py
Due: none

fix(ci): use Opus model and harden changelog workflow
  .github/workflows/generate-changelog.yml
Due: none

fix(ci): use Opus model and harden changelog workflow (#283)
  .github/workflows/generate-changelog.yml
Due: none

feat: batch query string array params to avoid URL length limits (#274)
  CHANGELOG.md
  src/honeyhive/api/client.py
  tests/unit/test_api_query_batching.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Simplify default integration skiplist path
  tests/integration/conftest.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

ci: re-enable integration CI with temporary skiplist (#272)
  .github/workflows/tox-full-suite.yml
  tests/integration/ci_known_failures.txt
  tests/integration/conftest.py
  tox.ini
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

chore: Revise CHANGELOG for API Client updates
  CHANGELOG.md
Due: docs-build-check

chore: Revise CHANGELOG for unreleased updates (#284)
  CHANGELOG.md
Due: docs-build-check

chore(release): Release `1.0.0rc18`
  CHANGELOG.md
Due: docs-build-check

chore: bump version
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

re-order changelog to be accurate
  CHANGELOG.md
Due: docs-build-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
