Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update makefile python venv
  Makefile
  flake.nix
Due: none

Enable code coverage for integration tests
  Makefile
  tox.ini
Due: none

Set threshold
  tox.ini
Due: none

Enable code coverage for integration tests (#232)
  Makefile
  tox.ini
Due: none

Add env var fallback for project
  src/honeyhive/api/_base.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Updated integration tests to use env var
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_experiments_api.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

More use of fallback
  src/honeyhive/api/_base.py
  src/honeyhive/config/utils.py
  src/honeyhive/experiments/core.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Cleanup
  src/honeyhive/api/_base.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add env var fallback for project (#233)
  src/honeyhive/api/_base.py
  src/honeyhive/api/client.py
  src/honeyhive/config/utils.py
  src/honeyhive/experiments/core.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_experiments_api.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fixed an invalid project default
  src/honeyhive/api/client.py
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fixed an inconsistency between FED and NWD
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

More name normalization
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

More updates for refactor
  src/honeyhive/api/client.py
  src/honeyhive/tracer/core/operations.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_simple_integration.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Enable mypy checking in CI
  .github/workflows/tox-full-suite.yml
  Makefile
Due: none

mypy fixes
  pyproject.toml
  src/honeyhive/api/client.py
  src/honeyhive/models/tracing.py
  src/honeyhive/tracer/core/context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Ran make format
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  src/honeyhive/tracer/core/context.py
  tests/integration/test_end_to_end_validation.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Generation fixes
  openapi/openapi.yaml
  pyproject.toml
  scripts/generate_client.py
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/models/CreateRunRequest.py
  src/honeyhive/_generated/models/CreateRunResponse.py
  src/honeyhive/_generated/models/DeleteRunResponse.py
  src/honeyhive/_generated/models/EvaluationRun.py
  src/honeyhive/_generated/models/UUIDType.py
  src/honeyhive/_generated/models/UpdateRunRequest.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Disable lint for now
  .github/workflows/tox-full-suite.yml
  scripts/generate_client.py
  tox.ini
Due: tox-format-check, tox-lint-check

Test fixes
  tests/integration/test_model_integration.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Test fix
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

A few more shims (#234)
  src/honeyhive/api/client.py
  src/honeyhive/experiments/core.py
  src/honeyhive/tracer/core/operations.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_simple_integration.py
  tests/unit/test_experiments_core.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix evaluate() with dataset_id — broken response unwrapping and missing project passthrough
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix unit tests for evaluate() response unwrapping changes
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Formatted code and added formatting check to CI
  .github/workflows/tox-full-suite.yml
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  tests/integration/test_end_to_end_validation.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Formatted code and added formatting check to CI (#236)
  .github/workflows/tox-full-suite.yml
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  tests/integration/test_end_to_end_validation.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Regenerated SDK
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/models/CreateRunRequest.py
  src/honeyhive/_generated/models/CreateRunResponse.py
  src/honeyhive/_generated/models/DeleteRunResponse.py
  src/honeyhive/_generated/models/EvaluationRun.py
  src/honeyhive/_generated/models/UUIDType.py
  src/honeyhive/_generated/models/UpdateRunRequest.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Test fixes
  src/honeyhive/api/client.py
  tests/integration/test_model_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Switch to using templates for generation
  scripts/generate_client.py
  scripts/templates/apiconfig_pydantic_2.jinja2
  scripts/templates/httpx.jinja2
  scripts/templates/service.jinja2
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

CI job to make sure generation is up to date
  .github/workflows/tox-full-suite.yml
Due: none

Generation fixes
  openapi/openapi.yaml
  scripts/generate_client.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Simplified jinja templates
  scripts/templates/apiconfig_pydantic_2.jinja2
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Use make generate in CI
  .github/workflows/tox-full-suite.yml
Due: none

Makefile venv fix
  Makefile
Due: none

ci: add pr title check
  .github/workflows/pr-title.yml
Due: none

ci: add pr title check (#240)
  .github/workflows/pr-title.yml
Due: none

ci: add pr title check (#239)
  .github/workflows/pr-title.yml
Due: none

whitespace
  tests/unit/test_cli_main.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

ci: fix ci to run `make generate`
  .github/workflows/tox-full-suite.yml
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
