Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: bump version to 1.0.0rc14
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add tests_v2 folder with 1324 verified passing unit tests
  tests_v2/TEST_MIGRATION_STATUS.md
  tests_v2/conftest.py
  tests_v2/integration/conftest.py
  tests_v2/unit/conftest.py
  tests_v2/unit/test_config_models_base.py
  tests_v2/unit/test_config_models_experiment.py
  tests_v2/unit/test_config_models_http_client.py
  tests_v2/unit/test_config_models_tracer.py
  tests_v2/unit/test_config_validation.py
  tests_v2/unit/test_models_tracing.py
  tests_v2/unit/test_tracer_infra_environment.py
  tests_v2/unit/test_tracer_infra_resources.py
  tests_v2/unit/test_tracer_lifecycle_core.py
  tests_v2/unit/test_tracer_lifecycle_flush.py
  tests_v2/unit/test_tracer_lifecycle_shutdown.py
  tests_v2/unit/test_tracer_processing_context.py
  tests_v2/unit/test_tracer_processing_context_distributed.py
  tests_v2/unit/test_tracer_processing_otlp_profiles.py
  tests_v2/unit/test_tracer_processing_otlp_session.py
  tests_v2/unit/test_tracer_processing_span_processor.py
  tests_v2/unit/test_tracer_utils_event_type.py
  tests_v2/unit/test_tracer_utils_general.py
  tests_v2/unit/test_tracer_utils_git.py
  tests_v2/unit/test_tracer_utils_propagation.py
  tests_v2/unit/test_tracer_utils_session.py
  tests_v2/unit/test_utils_baggage_dict.py
  tests_v2/unit/test_utils_cache.py
  tests_v2/unit/test_utils_connection_pool.py
  tests_v2/unit/test_utils_dotdict.py
  tests_v2/unit/test_utils_error_handler.py
  tests_v2/unit/test_utils_logger.py
  tests_v2/unit/test_utils_retry.py
  tox.ini
Due: none

ci: run verified tests_v2 in CI pipeline
  .github/workflows/tox-full-suite.yml
Due: none

fix: repair CLI tests by mocking httpx.Client correctly
  tests_v2/unit/test_cli_main.py
Due: none

Add @trace decorator and initialization tests to tests_v2
  tests_v2/unit/test_tracer_instrumentation_decorators.py
  tests_v2/unit/test_tracer_instrumentation_initialization.py
Due: none

Add experiments core tests to tests_v2
  tests_v2/unit/test_experiments_core.py
Due: none

Add tracer core config/priorities tests to tests_v2
  tests_v2/unit/test_tracer_core_config_interface.py
  tests_v2/unit/test_tracer_core_priorities.py
Due: none

Fix and add OTLP exporter tests to tests_v2
  tests_v2/unit/test_tracer_processing_otlp_exporter.py
Due: none

Use testing-dp-1 URL as default in tests_v2 conftest
  tests_v2/conftest.py
  tests_v2/integration/conftest.py
Due: none

Simplify CI: Remove Python 3.11, use testing-dp-1 URL
  .github/workflows/tox-full-suite.yml
  tox.ini
Due: none

Simplify CI: Remove Python 3.11, fix HH_API_URL for unit tests
  .github/workflows/tox-full-suite.yml
  tox.ini
Due: none

Add test_tracer_core_base.py to tests_v2 (61 tests)
  tests_v2/unit/test_tracer_core_base.py
Due: none

Add integration test analysis with docs mapping
  tests_v2/INTEGRATION_TEST_ANALYSIS.md
Due: none

Add provider integration test suite (tests_v2/integrations)
  tests_v2/INTEGRATION_TEST_ANALYSIS.md
  tests_v2/integrations/__init__.py
  tests_v2/integrations/conftest.py
  tests_v2/integrations/test_anthropic_integration.py
  tests_v2/integrations/test_evaluate_integration.py
  tests_v2/integrations/test_langchain_integration.py
  tests_v2/integrations/test_openai_integration.py
  tests_v2/integrations/test_tracing_integration.py
  tox.ini
Due: none

Add flush() method to HoneyHiveTracer and fix integration tests
  src/honeyhive/tracer/core/tracer.py
  tests_v2/integrations/test_anthropic_integration.py
  tests_v2/integrations/test_evaluate_integration.py
  tests_v2/integrations/test_tracing_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add complete provider integration test suite
  tests_v2/integrations/INTEGRATION_CHECKLIST.md
  tests_v2/integrations/test_autogen_integration.py
  tests_v2/integrations/test_azure_openai_integration.py
  tests_v2/integrations/test_bedrock_integration.py
  tests_v2/integrations/test_dspy_integration.py
  tests_v2/integrations/test_google_adk_integration.py
  tests_v2/integrations/test_openai_agents_integration.py
  tests_v2/integrations/test_pydantic_ai_integration.py
  tests_v2/integrations/test_semantic_kernel_integration.py
  tests_v2/integrations/test_strands_integration.py
  tests_v2/integrations/test_tracing_integration.py
Due: none

Add complete provider integration test suite (13 providers, 58 tests)
  tests_v2/integrations/INTEGRATION_CHECKLIST.md
  tests_v2/integrations/test_autogen_integration.py
  tests_v2/integrations/test_azure_openai_integration.py
  tests_v2/integrations/test_bedrock_integration.py
  tests_v2/integrations/test_dspy_integration.py
  tests_v2/integrations/test_google_adk_integration.py
  tests_v2/integrations/test_openai_agents_integration.py
  tests_v2/integrations/test_pydantic_ai_integration.py
  tests_v2/integrations/test_semantic_kernel_integration.py
  tests_v2/integrations/test_strands_integration.py
  tests_v2/integrations/test_tracing_integration.py
Due: none

Add end-to-end verification for integration tests
  tests_v2/integrations/INTEGRATION_CHECKLIST.md
  tests_v2/integrations/conftest.py
  tests_v2/integrations/test_tracing_integration.py
Due: none

Add inputs/outputs verification to e2e tests
  tests_v2/integrations/INTEGRATION_CHECKLIST.md
  tests_v2/integrations/conftest.py
  tests_v2/integrations/test_tracing_integration.py
Due: none

Add instrumentor inputs/outputs verification tests
  tests_v2/integrations/INTEGRATION_CHECKLIST.md
  tests_v2/integrations/test_tracing_integration.py
Due: none

fix: Enable real tracing for integration tests and use DP-only for verification
  tests_v2/integrations/conftest.py
Due: none

fix: Improve LLM event detection for OpenAI input/output verification
  tests_v2/integrations/test_tracing_integration.py
Due: none

fix: Update integration tests for latest framework APIs
  tests_v2/integrations/test_autogen_integration.py
  tests_v2/integrations/test_dspy_integration.py
  tests_v2/integrations/test_google_adk_integration.py
  tests_v2/integrations/test_pydantic_ai_integration.py
  tests_v2/integrations/test_semantic_kernel_integration.py
Due: none

Add metadata argument to evaluate() function
  src/honeyhive/experiments/core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Add unit and integration tests for metadata argument
  tests_v2/integrations/test_evaluate_integration.py
  tests_v2/unit/test_experiments_core.py
Due: none

Update integration test to validate metadata via GET /runs/:runId
  tests_v2/integrations/test_evaluate_integration.py
Due: none

fix: Events API fixes - ordering, project deprecation, enrich_span event_id
  src/honeyhive/__init__.py
  src/honeyhive/api/client.py
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/instrumentation/enrichment.py
  tests/unit/test_api_events_fixes.py
  tests_v2/integrations/test_events_fixes_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Separate event_id (API update) and update_event_id (span attribute override)
  src/honeyhive/tracer/core/context.py
  src/honeyhive/tracer/instrumentation/enrichment.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Fix docstring formatting for Sphinx documentation build
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Update tests to use update_event_id for span attribute setting
  tests/unit/test_tracer_instrumentation_enrichment.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: Fix import errors in events.py and AttributeError in context.py
  src/honeyhive/__init__.py
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  src/honeyhive/tracer/core/context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Restructure API reference navigation
  docs/reference/api/client-apis.rst
  docs/reference/client/configurations.rst
  docs/reference/client/datapoints.rst
  docs/reference/client/datasets.rst
  docs/reference/client/events.rst
  docs/reference/client/experiments-api.rst
  docs/reference/client/honeyhive-client.rst
  docs/reference/client/index.rst
  docs/reference/client/metrics.rst
  docs/reference/client/projects.rst
  docs/reference/client/sessions.rst
  docs/reference/client/tools.rst
  docs/reference/configuration/index.rst
  docs/reference/experiments/index.rst
  docs/reference/index.rst
  docs/reference/overview.rst
  docs/reference/tracing/decorators.rst
  docs/reference/tracing/enrichment.rst
  docs/reference/tracing/index.rst
  docs/reference/tracing/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: Add :no-index: to avoid duplicate object warnings and fix client-apis references
  docs/reference/api/errors.rst
  docs/reference/api/models-complete.rst
  docs/reference/api/utilities.rst
  docs/reference/tracing/decorators.rst
  docs/reference/tracing/enrichment.rst
  docs/reference/tracing/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: Resolve ambiguous HoneyHive cross-references in experiments/results.rst
  docs/reference/experiments/results.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: Remove type annotation from trace_class to avoid Sphinx cross-reference warning
  examples/client_side_evaluators.py
  examples/integrations/pydantic_ai_openai_multiagent.py
  examples/integrations/pydantic_ai_openai_tools.py
  src/honeyhive/tracer/instrumentation/decorators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: Improve PyPI release body with changelog and PR titles
  .github/workflows/sdk-publish.yml
Due: none

feat: Add CHANGELOG.md PR check workflow and backfill changelog
  .github/workflows/changelog-check.yml
  CHANGELOG.md
Due: docs-build-check

chore: Bump version to 1.0.0rc16
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: Pin docutils <0.22 due to breaking change affecting sphinx_tabs
  docs/requirements.txt
Due: none

docs: Convert sphinx-tabs to plain sections
  docs/reference/api/tracer.rst
  docs/reference/configuration/config-options.rst
  docs/tutorials/advanced-configuration.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
