Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

docs: fix remaining OpenLLMetry references and template generator
  docs/_templates/generate_provider_docs.py
  docs/index.rst
  docs/tutorials/03-llm-integration.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: redesign reference instrumentor table to eliminate maintenance burden
  docs/reference/index.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: complete OpenLLMetry → Traceloop migration with regenerated integration guides
  docs/_templates/README.md
  docs/_templates/generate_provider_docs.py
  docs/_templates/multi_instrumentor_integration_formal_template.rst
  docs/_templates/multi_instrumentor_integration_template.rst
  docs/_templates/template_variables.md
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: remove obsolete HH_PROJECT references while preserving deprecation notices
  docs/_templates/generate_provider_docs.py
  docs/_templates/multi_instrumentor_integration_template.rst
  docs/_templates/openai_multi_instrumentor_example.rst
  docs/_templates/openllmetry_integration_template.rst
  docs/how-to/deployment/production.rst
  docs/how-to/index.rst
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-adk.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
  docs/reference/cli/commands.rst
  docs/reference/configuration/authentication.rst
  docs/reference/configuration/config-options.rst
  docs/tutorials/03-llm-integration.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: update CHANGELOG.md for HH_PROJECT deprecation and documentation consistency fixes
  CHANGELOG.md
Due: docs-build-check

fix: documentation compliance pre-commit hook not enforcing CHANGELOG for significant doc changes
  scripts/check-documentation-compliance.py
Due: tox-format-check, tox-lint-check

fix: pre-commit YAML format for documentation compliance check file pattern
  .pre-commit-config.yaml
Due: none

ci: add comprehensive Dependabot configuration for complete refactor
  .github/dependabot.yml
Due: none

fix: Include .md files in examples/ for documentation compliance check
  .pre-commit-config.yaml
Due: none

test: Verify documentation compliance hook works
  examples/README.md
Due: none

refactor: Clean up examples directory structure and remove bloat
  CHANGELOG.md
  docs/changelog.rst
  examples/README.md
  examples/backward_compatibility_examples.py
  examples/evaluation_example.py
  examples/integrations/README.md
  examples/integrations/openinference_anthropic_example.py
  examples/integrations/openinference_bedrock_example.py
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/openinference_google_ai_example.py
  examples/integrations/openinference_mcp_example.py
  examples/integrations/openinference_openai_example.py
  examples/integrations/traceloop_anthropic_example.py
  examples/integrations/traceloop_azure_openai_example.py
  examples/integrations/traceloop_bedrock_example.py
  examples/integrations/traceloop_google_ai_example.py
  examples/integrations/traceloop_google_ai_example_with_workaround.py
  examples/integrations/traceloop_mcp_example.py
  examples/integrations/traceloop_openai_example.py
  examples/mcp_integration.py
  examples/migration_example.py
  examples/strands_integration.py
  examples/strands_simple_demo.py
Due: tox-format-check, tox-lint-check, docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add non-instrumentor integration framework specification
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/README.md
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/implementation.md
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/specs.md
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/srd.md
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/tasks.md
Due: docs-build-check

ci: optimize workflows with path-based detection logic
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-validation.yml
  .github/workflows/docs-versioned.yml
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/CONTENT_PARITY_ANALYSIS.md
  docs/DIVIO_REORGANIZATION_PLAN.md
  docs/development/index.rst
  docs/development/workflow-optimization.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: complete CI/CD documentation update and add workflow sync rule
  .agent-os/standards/best-practices.md
  .cursorrules
  CHANGELOG.md
  docs/development/testing/ci-cd-integration.rst
Due: docs-build-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: remove HH_PROJECT variable and fix CI/CD docs formatting
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/development/testing/ci-cd-integration.rst
Due: docs-build-check, invalid-tracer-pattern-check

cleanup: remove redundant MERMAID_STANDARD.md file
  .cursorrules
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-validation.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/MERMAID_STANDARD.md
  docs/development/testing/ci-cd-integration.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: correct conditional expressions in docs-deploy workflow
  .github/workflows/docs-deploy.yml
Due: none

fix: add explicit permissions to all workflows
  .github/workflows/docs-deploy.yml
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
Due: none

fix: remove duplicate job-level permissions
  .github/workflows/docs-deploy.yml
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
Due: none

feat: complete CI/CD workflow optimization
  .github/workflows/docs-deploy.yml
  CHANGELOG.md
  docs/development/testing/ci-cd-integration.rst
  logs.zip
Due: docs-build-check, invalid-tracer-pattern-check

fix: add missing permissions to docs-validation workflow
  .github/workflows/docs-validation.yml
Due: none

feat: finalize workflow optimization with paths-ignore filters
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  logs.zip
Due: none

docs: add OTLP span export strategy to non-instrumentor integration spec
  .agent-os/specs/2025-09-05-non-instrumentor-integrations/specs.md
Due: docs-build-check

fix: resolve docs-deploy workflow path filter issue
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-validation.yml
  docs/development/testing/ci-cd-integration.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: resolve RST formatting warnings in integration documentation
  docs/how-to/integrations/anthropic.rst
  docs/how-to/integrations/azure-openai.rst
  docs/how-to/integrations/bedrock.rst
  docs/how-to/integrations/google-ai.rst
  docs/how-to/integrations/mcp.rst
  docs/how-to/integrations/openai.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: prevent Sphinx caching from masking warnings in tox docs environment
  docs/development/testing/ci-cd-integration.rst
  tox.ini
Due: docs-build-check, invalid-tracer-pattern-check

fix: remove blanket .agent-os ignore from testing workflows
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  docs/development/testing/ci-cd-integration.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: remove fragile file patterns from documentation compliance check
  .pre-commit-config.yaml
Due: none

feat: add integration testing consolidation spec and update MDC files
  .agent-os/specs/2025-09-06-integration-testing-consolidation/README.md
  .agent-os/specs/2025-09-06-integration-testing-consolidation/implementation.md
  .agent-os/specs/2025-09-06-integration-testing-consolidation/specs.md
  .agent-os/specs/2025-09-06-integration-testing-consolidation/srd.md
  .agent-os/specs/2025-09-06-integration-testing-consolidation/tasks.md
  .agent-os/standards/best-practices.md
  .cursor/rules/analyze-product.mdc
  .cursor/rules/create-spec.mdc
  .cursor/rules/execute-tasks.mdc
  .cursor/rules/plan-product.mdc
  CHANGELOG.md
Due: docs-build-check, mandatory-docs-update

Update release-candidate.yml
  .github/workflows/release-candidate.yml
Due: none

feat: release candidate 0.1.0rc1 with performance improvements
  CHANGELOG.md
  ENVIRONMENT_VARIABLES.md
  check_bedrock_access.py
  container-validation-results.json
  docs/changelog.rst
  docs/reference/index.rst
  pyproject.toml
  scripts/docs-quality-backup.py
  src/honeyhive/__init__.py
  src/honeyhive/api/configurations.py
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/datasets.py
  src/honeyhive/tracer/decorators.py
  src/honeyhive/tracer/otel_tracer.py
  src/honeyhive/tracer/processor_integrator.py
  src/honeyhive/tracer/span_processor.py
  src/honeyhive/utils/config.py
  tests/integration/test_end_to_end_validation.py
  tests/unit/test_tracer.py
  tests/unit/test_tracer_otel_tracer.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add missing HH_PROJECT environment variable to GitHub Actions workflows
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
  CHANGELOG.md
  docs/changelog.rst
Due: docs-build-check, invalid-tracer-pattern-check

fix: update unit tests to match current tracer behavior
  tests/unit/test_tracer_otel_tracer.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: add HH_PROJECT to tox environment configurations
  CHANGELOG.md
  docs/changelog.rst
  tox.ini
Due: docs-build-check, invalid-tracer-pattern-check

feat: add pre-commit test suite execution for zero failing tests policy
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/changelog.rst
  scripts/run-basic-integration-tests.sh
Due: docs-build-check, invalid-tracer-pattern-check

fix: move no-mocks-in-integration-tests check to run first in pre-commit
  .pre-commit-config.yaml
Due: none

fix(config): environment variables not picked up at runtime
  CHANGELOG.md
  docs/changelog.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/index.rst
  src/honeyhive/api/client.py
  src/honeyhive/tracer/otel_tracer.py
  src/honeyhive/utils/config.py
  tests/unit/test_api_client.py
  tests/unit/test_environment_variables.py
  tests/unit/test_tracer_otel_tracer.py
  tests/unit/test_utils_config_env_vars.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check
