Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: format
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_batch_span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: temporarily add CPU core count reporting to CI
  .github/workflows/tox-full-suite.yml
Due: none

chore: set explicit 4 workers for unit tests to match CI runner CPU count
  tox.ini
Due: none

Fix 8 failing tests for BatchSpanProcessor integration
  tests_v2/unit/test_tracer_instrumentation_initialization.py
  tests_v2/unit/test_tracer_processing_span_processor.py
Due: none

refactor(tracing): use OTel upstream defaults for BatchSpanProcessor
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_batch_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: batched span exports (#320)
  CHANGELOG.md
  docs/reference/api/tracer.rst
  docs/reference/configuration/config-options.rst
  docs/reference/configuration/environment-vars.rst
  src/honeyhive/tracer/instrumentation/initialization.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_batch_span_processor.py
  tests/unit/test_span_name_filters.py
  tests/unit/test_tracer_instrumentation_initialization.py
  tests/unit/test_tracer_processing_span_processor.py
  tests_v2/unit/test_tracer_instrumentation_initialization.py
  tests_v2/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(release): Release 1.0.0rc20
  CHANGELOG.md
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(release): Release 1.0.0rc20 (#324)
  CHANGELOG.md
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(ci): update sdk-publish workflow to use federated-sdk-release-candidate as default branch
  .github/workflows/sdk-publish.yml
Due: none

fix(ci): remove push trigger, keep workflow_dispatch only per review feedback
  .github/workflows/sdk-publish.yml
Due: none

fix(ci): add github-actions to allowed_bots in changelog sync workflow
  .github/workflows/sync-changelog-to-docs.yml
Due: none

docs: simplify model provider examples to basic LLM calls
  examples/integrations/openinference_anthropic_example.py
  examples/integrations/openinference_azure_openai_example.py
  examples/integrations/openinference_bedrock_example.py
  examples/integrations/openinference_google_ai_example.py
  examples/integrations/openinference_openai_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: update skill to distinguish model provider vs agent framework examples
  .agents/skills/update-integration-example/SKILL.md
Due: none

style: replace em dashes with hyphens per AGENTS.md
  examples/integrations/openinference_anthropic_example.py
  examples/integrations/openinference_azure_openai_example.py
  examples/integrations/openinference_bedrock_example.py
  examples/integrations/openinference_google_ai_example.py
  examples/integrations/openinference_openai_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: remove hard LOC limit from skill per review feedback
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix: make follow-up prompts self-contained and use os.getenv consistently
  examples/integrations/openinference_anthropic_example.py
  examples/integrations/openinference_azure_openai_example.py
  examples/integrations/openinference_bedrock_example.py
  examples/integrations/openinference_google_ai_example.py
  examples/integrations/openinference_openai_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(skill): add Step 10 to create/update integration docs in honeyhive-ai-docs
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix(skill): add repo setup instructions and reorder naming convention note
  .agents/skills/update-integration-example/SKILL.md
Due: none

refactor(skill): simplify Step 10 - defer docs conventions to AGENTS.md
  .agents/skills/update-integration-example/SKILL.md
Due: none

feat: add ASMR (Agentic Structured Memory and Recall) tutorial example
  examples/tutorials/asmr_memory/README.md
  examples/tutorials/asmr_memory/__init__.py
  examples/tutorials/asmr_memory/asmr.py
  examples/tutorials/asmr_memory/consensus.py
  examples/tutorials/asmr_memory/example.py
  examples/tutorials/asmr_memory/knowledge_store.py
  examples/tutorials/asmr_memory/observer_agents.py
  examples/tutorials/asmr_memory/search_agents.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: consistent ASMR naming (Agentic Structured Memory and Recall)
  examples/tutorials/asmr_memory/__init__.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address review bugs - error handling, datetime, supersedes, search fallback
  examples/tutorials/asmr_memory/consensus.py
  examples/tutorials/asmr_memory/knowledge_store.py
  examples/tutorials/asmr_memory/observer_agents.py
  examples/tutorials/asmr_memory/search_agents.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: rewrite OpenAI Agents SDK example to match integration conventions
  examples/integrations/openai_agents_example.py
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: remove unused handoff import
  examples/integrations/openai_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: update autogen integration example to use AgentChat 0.7.x APIs
  examples/integrations/autogen_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: rewrite DSPy integration example for DSPy 3.1.x
  examples/integrations/dspy_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update stale references to renamed openai_agents example file
  examples/integrations/README.md
  tests_v2/integrations/test_openai_agents_integration.py
Due: none

fix: address review nits - line length and misleading comment
  examples/integrations/dspy_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add Claude Agent SDK integration example with OpenInference instrumentor
  examples/integrations/openinference_claude_agent_sdk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: address review feedback - move tempdir into main, add cleanup, extract JSON constant
  examples/integrations/openinference_claude_agent_sdk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: rewrite OpenAI Agents SDK example to customer support domain
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: harden GitHub Actions workflows against prompt injection
  .github/workflows/changelog-check.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/docs-validation.yml
  .github/workflows/docs-versioned.yml
  .github/workflows/release-candidate.yml
Due: none

fix: complete injection hardening for step outputs and metadata step
  .github/workflows/docs-versioned.yml
  .github/workflows/release-candidate.yml
Due: none

Add openinference-litellm optional extra and convenience groups
  pyproject.toml
Due: none

Add OpenInference LiteLLM integration example
  examples/integrations/openinference_litellm_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Add LiteLLM to integrations README catalog
  examples/integrations/README.md
Due: none

fix: detect agent event type from agent name attributes (Priority 4.5) [HHAI-4245]
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: make verbose output human-readable instead of ugly JSON
  src/honeyhive/tracer/processing/otlp_exporter.py
  src/honeyhive/tracer/processing/span_processor.py
  src/honeyhive/utils/logger.py
  tests/unit/test_utils_logger.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: apply make generate formatting to test file
  tests/unit/test_utils_logger.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: make span on_end debug logging safe against non-integer span context
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
