Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ci: set PYTEST_XDIST_AUTO_NUM_WORKERS=4 for CI test parallelism
  .github/workflows/tox-full-suite.yml
  tox.ini
Due: none

fix!: sync OpenAPI spec and remove deprecated Tools API
  docs/reference/api/client-apis.rst
  docs/reference/api/models-complete.rst
  openapi/v1.yaml
  src/honeyhive/_generated/models/ConfigurationItem.py
  src/honeyhive/_generated/models/CreateDatasetRequest.py
  src/honeyhive/_generated/models/CreateToolRequest.py
  src/honeyhive/_generated/models/CreateToolResponse.py
  src/honeyhive/_generated/models/Datapoint.py
  src/honeyhive/_generated/models/DeleteToolQuery.py
  src/honeyhive/_generated/models/DeleteToolResponse.py
  src/honeyhive/_generated/models/GetToolsResponse.py
  src/honeyhive/_generated/models/MetricItem.py
  src/honeyhive/_generated/models/ProjectItem.py
  src/honeyhive/_generated/models/SingleFilter.py
  src/honeyhive/_generated/models/UpdateToolRequest.py
  src/honeyhive/_generated/models/UpdateToolResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/__init__.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: sync OpenAPI spec and remove references to defunct Tools API (#243)
  docs/reference/api/client-apis.rst
  docs/reference/api/models-complete.rst
  openapi/v1.yaml
  src/honeyhive/_generated/models/ConfigurationItem.py
  src/honeyhive/_generated/models/CreateDatasetRequest.py
  src/honeyhive/_generated/models/CreateToolRequest.py
  src/honeyhive/_generated/models/CreateToolResponse.py
  src/honeyhive/_generated/models/Datapoint.py
  src/honeyhive/_generated/models/DeleteToolQuery.py
  src/honeyhive/_generated/models/DeleteToolResponse.py
  src/honeyhive/_generated/models/GetToolsResponse.py
  src/honeyhive/_generated/models/MetricItem.py
  src/honeyhive/_generated/models/ProjectItem.py
  src/honeyhive/_generated/models/SingleFilter.py
  src/honeyhive/_generated/models/UpdateToolRequest.py
  src/honeyhive/_generated/models/UpdateToolResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/__init__.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: remove non-functional `include_datapoints` query param
  CHANGELOG.md
  SKIPPED_INTEGRATION_TESTS_SUMMARY.md
  docs/changelog.rst
  docs/how-to/evaluation/dataset-crud.rst
  docs/reference/api/models-complete.rst
  docs/reference/index.rst
  openapi/v1.yaml
  src/honeyhive/_generated/models/GetDatasetsQuery.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/api/test_datasets_api.py
  tests/unit/_v0_archive/test_api_datasets.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Added comments to templates
  scripts/templates/apiconfig_pydantic_2.jinja2
  scripts/templates/httpx.jinja2
  scripts/templates/service.jinja2
Due: none

Reverted Makefile change
  Makefile
Due: none

Set up venv in CI
  .github/workflows/tox-full-suite.yml
Due: none

CI fix
  scripts/generate_client.py
Due: tox-format-check, tox-lint-check

More CI fixes
  Makefile
Due: none

fix: generation fixes (#237)
  .github/workflows/tox-full-suite.yml
  Makefile
  openapi/openapi.yaml
  scripts/generate_client.py
  scripts/templates/apiconfig_pydantic_2.jinja2
  scripts/templates/httpx.jinja2
  scripts/templates/service.jinja2
  src/honeyhive/_generated/models/CreateRunRequest.py
  src/honeyhive/_generated/models/CreateRunResponse.py
  src/honeyhive/_generated/models/DeleteRunResponse.py
  src/honeyhive/_generated/models/EvaluationRun.py
  src/honeyhive/_generated/models/UUIDType.py
  src/honeyhive/_generated/models/UpdateRunRequest.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Tools_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Tools_service.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/test_model_integration.py
  tests/unit/test_experiments_core.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fixes
  .github/workflows/tox-full-suite.yml
  Makefile
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Reformatted code
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fixed mypy errors
  src/honeyhive/api/client.py
  src/honeyhive/evaluation/evaluators.py
  src/honeyhive/experiments/core.py
  src/honeyhive/models/tracing.py
  src/honeyhive/tracer/core/context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Run mypy in CI
  .github/workflows/tox-full-suite.yml
  tox.ini
Due: none

fix: run mypy in CI and fix errors (#238)
  .github/workflows/tox-full-suite.yml
  Makefile
  src/honeyhive/api/client.py
  src/honeyhive/evaluation/evaluators.py
  src/honeyhive/experiments/core.py
  src/honeyhive/models/tracing.py
  src/honeyhive/tracer/core/context.py
  tox.ini
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: remove non-functional `include_datapoints` query param (#244)
  CHANGELOG.md
  SKIPPED_INTEGRATION_TESTS_SUMMARY.md
  docs/changelog.rst
  docs/how-to/evaluation/dataset-crud.rst
  docs/reference/api/models-complete.rst
  docs/reference/index.rst
  openapi/v1.yaml
  src/honeyhive/_generated/models/GetDatasetsQuery.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  tests/integration/api/test_datasets_api.py
  tests/unit/_v0_archive/test_api_datasets.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fixed more inline OpenAPI type issues
  openapi/openapi.yaml
  src/honeyhive/_generated/models/AddDatapointsRequest.py
  src/honeyhive/_generated/models/Configuration.py
  src/honeyhive/_generated/models/ConfigurationParameters.py
  src/honeyhive/_generated/models/DatapointMapping.py
  src/honeyhive/_generated/models/PostConfigurationRequest.py
  src/honeyhive/_generated/models/PutConfigurationRequest.py
  src/honeyhive/_generated/models/ResponseFormat.py
  src/honeyhive/_generated/models/SelectedFunction.py
  src/honeyhive/_generated/models/TemplateItem.py
  src/honeyhive/_generated/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Test fixes
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

More test fixes
  scripts/generate_client.py
  src/honeyhive/_generated/models/ConfigurationParameters.py
  tests/integration/test_model_integration.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

More anonymous schema fixes
  openapi/openapi.yaml
  src/honeyhive/_generated/models/CreateDatapointResponse.py
  src/honeyhive/_generated/models/CreateDatasetResponse.py
  src/honeyhive/_generated/models/CreateToolResponse.py
  src/honeyhive/_generated/models/InsertResult.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/api/client.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Test fixes
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_simple_integration.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Revert tools change, cause ehhhh
  openapi/openapi.yaml
  src/honeyhive/_generated/models/CreateToolResponse.py
  tests/integration/api/test_tools_api.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: simplify ADK OpenInference integration example
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Retheme pydantic_ai example to customer support (matching ADK example)
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Revert span_dumps/ gitignore entry
  .gitignore
Due: none

Add LoopAgent scenario to ADK example for full workflow agent coverage
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Gitignore span_dumps/ to prevent committing test artifacts
  .gitignore
Due: none

Retheme pydantic_ai example from HoneyHive support to generic bank support
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix policy_context_agent looping by tightening instruction
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

add setup_span_capture to ADK example for raw span dumps
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: rewrite PydanticAI example to use native OTel and match ADK quality
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

revert setup_span_capture from ADK example
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Run make generate && make format after rebase
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/pydantic_ai_integration.py
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/models/UpdateMetricRequest.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Run make generate && make format to sync generated code
  examples/integrations/pydantic_ai_integration.py
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/models/UpdateMetricRequest.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Clean up example files for public consumption
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

ci: add post-merge SDK staging validation workflow
  .github/workflows/post-merge-sdk-staging.yml
Due: none

fix: remove duplicate traceloop.association.properties attributes [HHAI-3899]
  .cursor/mcp.json
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update tests_v2 to match traceloop attribute removal
  tests_v2/unit/test_tracer_processing_span_processor.py
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
