Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add experiment run + trace demo for LangGraph Demo project
  examples/integrations/langgraph_simple_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

ci: enable display_report for Claude Code actions
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/sync-changelog-to-docs.yml
Due: none

fix(ci): dispatch docs changelog sync after publish
  .github/workflows/sdk-publish.yml
Due: none

fix(ci): make docs sync dispatch non-blocking
  .github/workflows/sdk-publish.yml
Due: none

fix(ci): dispatch docs changelog sync after publish (#313)
  .github/workflows/sdk-publish.yml
Due: none

fix(examples): combine semantic kernel native otel with openinference
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(tracing): address GenAI event type review follow-ups
  CHANGELOG.md
  examples/integrations/strands_agents_example.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs(examples): clarify semantic kernel provider instrumentation
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: remove obsolete Cursor rules
  .cursorrules
Due: none

feat(examples): rewrite LangGraph integration with customer support domain (#300)
  examples/integrations/langgraph_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: fix inaccurate gotchas in dev setup skill
  .agents/skills/cursor-cloud-dev-setup/SKILL.md
Due: none

fix(examples): refresh CrewAI tracing example
  examples/integrations/README.md
  examples/integrations/crewai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: update docs branch reference from fix/docs-concepts to main
  .github/workflows/sync-changelog-to-docs.yml
Due: none

docs: document known failures with baselines and workarounds
  .agents/skills/cursor-cloud-dev-setup/SKILL.md
Due: none

fix(events): type GET /events response item in Python SDK
  openapi/v1.yaml
  scripts/generate_client.py
  src/honeyhive/_generated/models/EventResponseItem.py
  src/honeyhive/_generated/models/GetEventsChartResponse.py
  src/honeyhive/_generated/models/GetEventsResponse.py
  src/honeyhive/_generated/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Reverted over-eager AI changes
  pyproject.toml
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(examples): move span dumps to .tmp
  .agents/skills/update-integration-example/SKILL.md
  .gitignore
  examples/integrations/GENERATE_TEST_CASES.md
  examples/integrations/capture_spans.py
  examples/integrations/convert_spans_to_test_cases.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add span_name_filters to filter noisy spans by prefix
  src/honeyhive/config/models/tracer.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: add unit tests for span_name_filters feature
  tests/unit/test_span_name_filters.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

docs(examples): clarify temporary span capture workflow
  examples/integrations/GENERATE_TEST_CASES.md
  examples/integrations/README.md
Due: none

docs: add span name filter docs
  docs/reference/api/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

docs: changelog
  CHANGELOG.md
Due: docs-build-check

pr feedback
  src/honeyhive/config/models/__init__.py
  src/honeyhive/config/models/tracer.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_span_name_filters.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

try/except
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

update docs
  docs/reference/api/tracer.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

fix: rename unused loop variable to _label
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): refresh Semantic Kernel example and GenAI event typing (#306)
  .agents/skills/update-integration-example/SKILL.md
  .cursorrules
  .gitignore
  CHANGELOG.md
  examples/integrations/GENERATE_TEST_CASES.md
  examples/integrations/README.md
  examples/integrations/capture_spans.py
  examples/integrations/convert_spans_to_test_cases.py
  examples/integrations/crewai_integration.py
  examples/integrations/semantic_kernel_integration.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: span name filters (#318)
  CHANGELOG.md
  docs/reference/api/tracer.rst
  src/honeyhive/config/models/__init__.py
  src/honeyhive/config/models/tracer.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_span_name_filters.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Update model provider integration examples with customer support domain
  examples/integrations/openinference_anthropic_example.py
  examples/integrations/openinference_azure_openai_example.py
  examples/integrations/openinference_bedrock_example.py
  examples/integrations/openinference_google_ai_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog entry for batched async span export
  docs/changelog.rst
Due: docs-build-check, invalid-tracer-pattern-check

feat(tracing): add batched async span export via OTel BatchSpanProcessor
  docs/reference/api/tracer.rst
  docs/reference/configuration/config-options.rst
  docs/reference/configuration/environment-vars.rst
  src/honeyhive/tracer/instrumentation/initialization.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_batch_span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Revert "docs: add changelog entry for batched async span export"
  docs/changelog.rst
Due: docs-build-check, invalid-tracer-pattern-check

docs: add changelog entry for batched async span export
  CHANGELOG.md
Due: docs-build-check

feat(tracing): reduce default batch flush interval to 1 second
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(tests): fix test failures from batched export changes
  tests/unit/test_span_name_filters.py
  tests/unit/test_tracer_instrumentation_initialization.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

chore: reduce tox test suite output verbosity
  tox.ini
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
