Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks for HoneyHive Python SDK
# See https://pre-commit.com for more information
#
# IMPORTANT: All code quality checks use tox environments to ensure consistency
# between local development, pre-commit, and CI/CD environments.
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        files: '^.*\.(yaml|yml)$'

  - repo: local
    hooks:
      - id: tox-format-check
        name: Code Formatting Check (Black + isort)
        entry: tox -e format
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: tox-lint-check
        name: Code Quality Check (Pylint + Mypy)
        entry: tox -e lint
        language: system
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$'
        stages: [pre-commit]

      - id: docs-build-check
        name: Documentation Build Check
        entry: tox -e docs
        language: system
        pass_filenames: false
        files: '^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$'
        stages: [pre-commit]

      - id: feature-list-sync
        name: Feature Documentation Synchronization Check
        entry: scripts/check-feature-sync.py
        language: python
        files: '^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$'
        stages: [pre-commit]

      - id: changelog-update-check
        name: CHANGELOG Update Check
        entry: scripts/check-changelog-updated.py
        language: python
        files: '^(src/.*\.py|tests/.*\.py)$'
        stages: [pre-commit]

      - id: mandatory-docs-update
        name: Mandatory Documentation Update Check
        entry: scripts/check-docs-updated.py
        language: python
        pass_filenames: false
        files: '^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$'
        stages: [pre-commit]

      - id: invalid-tracer-pattern-check
        name: Invalid Tracer Pattern Check
        entry: bash
        args:
          - -c
          - 'if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi'
        language: system
        files: '^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$'
        pass_filenames: false
        stages: [pre-commit]

fix(docs): update README references from crewai_integration to crewai_example
  examples/integrations/README.md
Due: none

fix(examples): address review nits on strands example
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(examples): add return type annotations to inner functions
  examples/integrations/langgraph_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(examples): address review nits on semantic kernel example
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add honeyhive-tracing and honeyhive-evaluators skills for coding agents
  .agents/skills/honeyhive-evaluators/SKILL.md
  .agents/skills/honeyhive-tracing/SKILL.md
Due: none

fix: correct evaluate() parameter names and project env var handling per bot review
  .agents/skills/honeyhive-evaluators/SKILL.md
Due: none

refactor(examples): simplify strands example — clean imports, drop semconv toggle
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): add Strands Agents integration example (#297)
  examples/integrations/README.md
  examples/integrations/strands_agents_example.py
  examples/integrations/strands_agents_integration.py
  examples/integrations/strands_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): rewrite Semantic Kernel integration with customer support domain
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs(skills): update-integration-example v2.1 with learnings from semantic kernel run
  .agents/skills/update-integration-example/SKILL.md
Due: none

docs(skills): clarify semantic kernel tracing guidance
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix(events): set 300s timeout on export HTTP clients
  CHANGELOG.md
  src/honeyhive/api/client.py
  tests_v2/unit/test_events_export_timeout.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: split timeout values and remove unused import
  src/honeyhive/api/client.py
  tests_v2/unit/test_events_export_timeout.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: sync generated code formatting (strands example)
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): add Swarm scenario to strands-agents example
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add session id tip to integration skill
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix(tracing): honor gen_ai operation event types
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(events): allow export timeout override via HH_EXPORT_TIMEOUT_SECONDS env var
  src/honeyhive/api/client.py
  tests_v2/unit/test_events_export_timeout.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add CHANGELOG entry for HH_EXPORT_TIMEOUT_SECONDS env var
  CHANGELOG.md
Due: docs-build-check

fix: validate HH_EXPORT_TIMEOUT_SECONDS is positive and log warnings
  src/honeyhive/api/client.py
  tests_v2/unit/test_events_export_timeout.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(release): Release 1.0.0rc19
  CHANGELOG.md
Due: docs-build-check

chore(release): Release 1.0.0rc19 (#308)
  CHANGELOG.md
Due: docs-build-check

chore(release): bump version to 1.0.0rc19
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore(release): bump version to 1.0.0rc19 (#309)
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address Claude review comments
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Build fixes
  Makefile
  docs/changelog.rst
  docs/requirements.txt
  pyproject.toml
Due: docs-build-check, invalid-tracer-pattern-check

AI first pass at updating docs
  docs/development/testing/mocking-strategies.rst
  docs/explanation/concepts/llm-observability.rst
  docs/index.rst
  docs/reference/api/client.rst
  docs/reference/api/decorators.rst
  docs/reference/evaluation/deprecation-notice.rst
  docs/reference/evaluation/evaluators.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

Removed everything except SDK Reference
  docs/index.rst
  docs/reference/api/client.rst
  docs/reference/api/decorators.rst
  docs/reference/api/evaluators-complete.rst
  docs/reference/api/models-complete.rst
  docs/reference/api/tracer-architecture.rst
  docs/reference/api/tracer.rst
  docs/reference/api/utilities.rst
  docs/reference/cli/commands.rst
  docs/reference/cli/index.rst
  docs/reference/cli/options.rst
  docs/reference/configuration/authentication.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/configuration/hybrid-config-approach.rst
  docs/reference/evaluation/deprecation-notice.rst
  docs/reference/evaluation/evaluators.rst
  docs/reference/experiments/core-functions.rst
  docs/reference/experiments/evaluators.rst
  docs/reference/experiments/experiments.rst
  docs/reference/experiments/models.rst
  docs/reference/experiments/results.rst
  docs/reference/experiments/utilities.rst
  docs/reference/index.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

Updated package name references
  docs/index.rst
  docs/reference/cli/commands.rst
  docs/reference/cli/index.rst
  docs/reference/configuration/authentication.rst
  docs/reference/index.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

More updates
  docs/reference/api/client-apis.rst
  docs/reference/api/client-apis.rst.bak
  docs/reference/api/client-apis.rst.bak2
  docs/reference/api/client-apis.rst.bak3
  docs/reference/api/client.rst
  docs/reference/api/config-models.rst
  docs/reference/api/decorators.rst
  docs/reference/api/evaluators-complete.rst
  docs/reference/api/tracer.rst
  docs/reference/cli/commands.rst
  docs/reference/cli/index.rst
  docs/reference/cli/options.rst
  docs/reference/configuration/authentication.rst
  docs/reference/configuration/config-options.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/data-models/evaluations.rst
  docs/reference/evaluation/evaluators.rst
  docs/reference/experiments/core-functions.rst
  docs/reference/experiments/results.rst.bak
  docs/reference/experiments/results.rst.bak2
  docs/reference/experiments/results.rst.bak3
  docs/reference/index.rst
Due: docs-build-check, feature-list-sync, invalid-tracer-pattern-check

More updates
  docs/reference/api/client-apis.rst
  docs/reference/api/client.rst
  docs/reference/api/config-models.rst
  docs/reference/api/models-complete.rst
  docs/reference/configuration/authentication.rst
  docs/reference/configuration/config-options.rst
  docs/reference/configuration/environment-vars.rst
  docs/reference/configuration/hybrid-config-approach.rst
  docs/reference/evaluation/evaluators.rst
  docs/reference/experiments/results.rst
  docs/reference/index.rst
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: add simple LangGraph + HoneyHive smoke test example
  examples/integrations/langgraph_simple_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: use direct HTTP for session creation and validation
  examples/integrations/langgraph_simple_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: guard tool_node against hallucinated tool names and missing tool_calls
  examples/integrations/langgraph_simple_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

refactor: simplify script to work with PyPI honeyhive package
  examples/integrations/langgraph_simple_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check
