Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: Remove sphinx-tabs and sphinx-search dependencies
  docs/conf.py
  docs/requirements.txt
Due: none

ci: Use requirements.txt for docs dependencies
  .github/workflows/docs-preview.yml
Due: none

revert: Remove code changes from docs PR
  examples/client_side_evaluators.py
  examples/integrations/pydantic_ai_openai_multiagent.py
  examples/integrations/pydantic_ai_openai_tools.py
  src/honeyhive/tracer/instrumentation/decorators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Fix ambiguous type cross-reference warning
  src/honeyhive/tracer/instrumentation/decorators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Suppress ambiguous Python cross-reference warnings
  docs/conf.py
Due: none

Include automatic ThreadPoolExecutor wrapping and custom executor class
  src/honeyhive/tracer/core/base.py
  src/honeyhive/tracer/utils/__init__.py
  src/honeyhive/tracer/utils/threading.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: Add agent framework integration analysis for enterprise evaluation
  docs/AGENT_FRAMEWORK_INTEGRATION_ANALYSIS.md
Due: docs-build-check, invalid-tracer-pattern-check

docs: Expand analysis with competitor superset and framework test examples
  docs/AGENT_FRAMEWORK_INTEGRATION_ANALYSIS.md
Due: docs-build-check, invalid-tracer-pattern-check

test: Add BYOI integration tests for 5 competitor frameworks
  docs/AGENT_FRAMEWORK_INTEGRATION_ANALYSIS.md
  tests_v2/integrations/conftest.py
  tests_v2/integrations/test_agno_integration.py
  tests_v2/integrations/test_crewai_integration.py
  tests_v2/integrations/test_haystack_integration.py
  tests_v2/integrations/test_llamaindex_integration.py
  tests_v2/integrations/test_smolagents_integration.py
Due: docs-build-check, invalid-tracer-pattern-check

docs: Stop suppressing Python xref warnings
  docs/conf.py
Due: none

fix: Make project_id optional in results.py functions
  src/honeyhive/experiments/results.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat: stamp git context on experiment run metadata
  src/honeyhive/experiments/core.py
  src/honeyhive/utils/git_context.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: correct convenience extra dependency resolution
  pyproject.toml
Due: none

fix: align OpenInference Google extra with google-genai
  pyproject.toml
Due: none

feat: bundled init
  .github/workflows/sdk-publish-bundled.yml
  Makefile
  pyproject.bundled.toml
  src/honeyhive/__init__.py
  src/honeyhive/tracer/core/config_interface.py
  src/honeyhive/tracer/instrumentation/initialization.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: assign results in async evaluator non-repeat path
  src/honeyhive/experiments/evaluators.py
  tests/integration/test_evaluator_async_path.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(strands): add direct 1:1 Strands OTEL -> honeyhive_* mapping at export time; add debug utilities to compare source vs transformed spans; integrate into JSON exporter
  src/honeyhive/tracer/custom_otel_transformation/__init__.py
  src/honeyhive/tracer/custom_otel_transformation/debug_utils.py
  src/honeyhive/tracer/custom_otel_transformation/strands_otel_mapping.py
  src/honeyhive/tracer/processing/otlp_exporter.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

deprecate: stub out client mode in HoneyHiveSpanProcessor with DeprecationWarning + NotImplementedError
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: update tests_v2 logging assertions to match _safe_log formatting behavior
  tests_v2/unit/test_tracer_processing_span_processor.py
Due: none

feat: add CrewAI, LangChain, Strands Agents examples and rewrite LangGraph example
  examples/integrations/README.md
  examples/integrations/crewai_integration.py
  examples/integrations/langchain_integration.py
  examples/integrations/langgraph_integration.py
  examples/integrations/requirements.txt
  examples/integrations/strands_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Updated generation scripts
  CHANGELOG.md
  Makefile
  openapi/openapi.yaml
  openapi/v1.yaml
  openapi/v1_minimal.yaml
  pyproject.toml
  scripts/generate_client.py
  scripts/generate_models_and_client.py
Due: tox-format-check, tox-lint-check, docs-build-check

CI fixes
  .github/workflows/docs-preview.yml
  .github/workflows/lambda-tests.yml
  .github/workflows/tox-full-suite.yml
Due: none

Fixed Pydantic issue with old spec
  scripts/generate_client.py
Due: tox-format-check, tox-lint-check

Progress on refactoring the SDK
  src/honeyhive/__init__.py
  src/honeyhive/api/client.py
  src/honeyhive/api/datapoints.py
  src/honeyhive/api/events.py
  src/honeyhive/api/metrics.py
  src/honeyhive/experiments/results.py
  src/honeyhive/models/__init__.py
  src/honeyhive/tracer/core/operations.py
  src/honeyhive/tracer/processing/span_processor.py
  tests/compatibility/test_backward_compatibility.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/api/test_metrics_api.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_simple_integration.py
  tests/unit/test_cli_main.py
  tests/unit/test_experiments_core.py
  tests/utils/backend_verification.py
  tests/utils/validation_helpers.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Test fixes
  tests/unit/test_experiments_immediate_fixes.py
  tests/unit/test_experiments_results.py
  tests/unit/test_tracer_core_base.py
  tests/unit/test_tracer_core_context.py
  tests/unit/test_tracer_instrumentation_initialization.py
  tests/unit/test_utils_logger.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

More test updates
  tests/unit/test_experiments_core.py
  tests/unit/test_tracer_instrumentation_initialization.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Another test fix
  src/honeyhive/tracer/instrumentation/decorators.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

CI fixes
  .github/workflows/tox-full-suite.yml
Due: none

More test fixes
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/api/client.py
  tests/integration/api/test_configurations_api.py
  tests/integration/api/test_datapoints_api.py
  tests/integration/api/test_datasets_api.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Fix integration tests: MTP endpoint alignment and model field fixes
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/api/client.py
  tests/integration/api/test_tools_api.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Change code coverage threshold
  tox.ini
Due: none

Fix CreateRunRequest event_ids to use UUIDType instead of str
  tests/integration/test_model_integration.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Set up forked API key
  .github/workflows/tox-full-suite.yml
Due: none

Yet more test fixes
  tests/tracer/test_baggage_isolation.py
  tests/tracer/test_multi_instance.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Refactored after regeneration
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Run integration tests separately from unit tests
  tox.ini
Due: none

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
