Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(release): Release `1.0.0rc18` (#285)
  CHANGELOG.md
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Version bump
  pyproject.bundled.toml
  pyproject.toml
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: Version bump for 1.1.0 release (#286)
  pyproject.bundled.toml
  pyproject.toml
  src/honeyhive/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(examples): update openai-agents streaming API for v0.10.2
  examples/integrations/openai_agents_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: improve event type detection for orchestration spans
  src/honeyhive/tracer/utils/event_type.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: batch spans before OTLP export to preserve parent-child relationships
  src/honeyhive/tracer/processing/otlp_exporter.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: restore 'model' indicator that was accidentally removed
  src/honeyhive/tracer/utils/event_type.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(tracer): add gen_ai.operation.name event type detection (Priority 4.5)
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add auto-flush timer, buffer cap, and export result checking
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(tracer): update docstring and add embeddings mapping
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add CHANGELOG entry for span batching fix
  CHANGELOG.md
Due: docs-build-check

fix: detect agent event type from GenAI semantic conventions
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: apply black formatting to span_processor.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: update unit tests for new span buffering behavior
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

test: update tests_v2 unit tests for new span buffering behavior
  tests_v2/unit/test_tracer_processing_span_processor.py
Due: none

feat(ci): add workflow to sync SDK releases to docs product changelog
  .github/workflows/sync-changelog-to-docs.yml
Due: none

chore: clean up debug scaffolding from autogen example
  examples/integrations/autogen_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: address PR review comments on sync workflow
  .github/workflows/sync-changelog-to-docs.yml
Due: none

feat(ci): sync SDK releases to docs product changelog (#293)
  .github/workflows/sync-changelog-to-docs.yml
Due: none

fix(ci): use org-level secret names for GitHub App token
  .github/workflows/sync-changelog-to-docs.yml
Due: none

fix(ci): use org-level secret names in generate-changelog
  .github/workflows/generate-changelog.yml
Due: none

fix(ci): revert to PROPOLIS_APP_ID/PROPOLIS_PRIVATE_KEY names
  .github/workflows/generate-changelog.yml
  .github/workflows/sync-changelog-to-docs.yml
Due: none

fix: add isinstance guard for agent_name + unit tests for Priority 4.5 agent detection
  src/honeyhive/tracer/processing/span_processor.py
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: apply black formatting to test file
  tests/unit/test_tracer_processing_span_processor.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

Add AGENTS.md with Cursor Cloud specific instructions
  AGENTS.md
Due: none

feat: add update-integration-example skill (moved from hive-bot)
  .agents/skills/update-integration-example/SKILL.md
Due: none

Move Cursor Cloud instructions to agentskills.io skill in .agents/
  .agents/skills/cursor-cloud-dev-setup/SKILL.md
  AGENTS.md
Due: none

fix: correct example filenames in update-integration-example skill
  .agents/skills/update-integration-example/SKILL.md
Due: none

Revise SDK example for framework integration
  .agents/skills/update-integration-example/SKILL.md
Due: none

feat(ci): add job summary to Claude Code changelog workflows
  .github/workflows/generate-changelog.yml
  .github/workflows/sync-changelog-to-docs.yml
Due: none

docs: improve update-integration-example skill with pm-honeyhive learnings
  .agents/skills/update-integration-example/SKILL.md
Due: none

fix: address review comments on update-integration-example skill
  .agents/skills/update-integration-example/SKILL.md
Due: none

feat(examples): add Strands Agents integration example
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): rewrite CrewAI integration example with customer support domain
  examples/integrations/crewai_example.py
  examples/integrations/crewai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): rewrite Semantic Kernel integration with customer support domain
  examples/integrations/semantic_kernel_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): rewrite LangGraph integration with customer support domain
  examples/integrations/langgraph_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: improve update-integration-example skill (#296)
  .agents/skills/update-integration-example/SKILL.md
Due: none

chore(examples): remove old strands integration files
  examples/integrations/strands_agents_integration.py
  examples/integrations/strands_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

feat(examples): run scenarios under both semconv modes
  examples/integrations/strands_agents_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
