Repository honeyhiveai/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

tox-format-check:
  name: Code Formatting Check (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tox-lint-check:
  name: Code Quality Check (Pylint + Mypy)
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs-build-check:
  name: Documentation Build Check
  entry: tox -e docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feature-list-sync:
  name: Feature Documentation Synchronization Check
  entry: scripts/check-feature-sync.py
  language: python
  stages:
  - pre-commit

changelog-update-check:
  name: CHANGELOG Update Check
  entry: scripts/check-changelog-updated.py
  language: python
  stages:
  - pre-commit

mandatory-docs-update:
  name: Mandatory Documentation Update Check
  entry: scripts/check-docs-updated.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

invalid-tracer-pattern-check:
  name: Invalid Tracer Pattern Check
  entry: bash
  args:
  - -c
  - if grep -r "@.*\.trace(" docs/ examples/ src/ 2>/dev/null; then echo "‚ùå Invalid patterns!"; exit 1; fi
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: add automated Claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

chore: add automated Claude code review workflow (#249)
  .github/workflows/claude-code-review.yml
Due: none

Moved aliases into OpenAPI spec
  openapi/openapi.yaml
  src/honeyhive/_generated/models/AddDatapointsToDatasetRequest.py
  src/honeyhive/_generated/models/CreateConfigurationRequest.py
  src/honeyhive/_generated/models/CreateEventBatchRequest.py
  src/honeyhive/_generated/models/CreateEventRequestBody.py
  src/honeyhive/_generated/models/DeleteExperimentRunResponse.py
  src/honeyhive/_generated/models/GetExperimentRunResponse.py
  src/honeyhive/_generated/models/PostEventRequest.py
  src/honeyhive/_generated/models/PostEventRequestBody.py
  src/honeyhive/_generated/models/PostExperimentRunRequest.py
  src/honeyhive/_generated/models/PostExperimentRunResponse.py
  src/honeyhive/_generated/models/PutExperimentRunRequest.py
  src/honeyhive/_generated/models/PutExperimentRunResponse.py
  src/honeyhive/_generated/models/UpdateConfigurationRequest.py
  src/honeyhive/_generated/models/UpdateDatasetRequest.py
  src/honeyhive/_generated/models/UpdateMetricRequest.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/api/client.py
  src/honeyhive/cli/main.py
  src/honeyhive/config/models/api_client.py
  src/honeyhive/config/models/experiment.py
  src/honeyhive/config/models/tracer.py
  src/honeyhive/evaluation/_compat.py
  src/honeyhive/evaluation/evaluators.py
  src/honeyhive/experiments/evaluators.py
  src/honeyhive/models/__init__.py
  src/honeyhive/tracer/instrumentation/initialization.py
  src/honeyhive/tracer/processing/span_processor.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

More renames
  openapi/openapi.yaml
  src/honeyhive/_generated/models/PostEventBatchResponse.py
  src/honeyhive/_generated/models/PostEventResponse.py
  src/honeyhive/_generated/models/__init__.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/api/client.py
  src/honeyhive/models/__init__.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Review feedback
  src/honeyhive/api/client.py
  tests/integration/api/test_tools_api.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

chore: update makefile python venv
  Makefile
  flake.nix
Due: none

chore: add `make build` target
  Makefile
Due: none

chore: update makefile python venv (#250)
  Makefile
  flake.nix
Due: none

ci: use python venv in ci
  .github/workflows/tox-full-suite.yml
Due: none

ci: activate venv before running make generate
  .github/workflows/tox-full-suite.yml
Due: none

ci: use python venv in ci (#252)
  .github/workflows/tox-full-suite.yml
Due: none

fix: auto-infer is_evaluation when dataset_id, datapoint_id, and run_id are all defined
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: apply black formatting
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: sync config dict when auto-inferring is_evaluation
  src/honeyhive/tracer/core/base.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(ci): add federated-sdk-release-candidate to changelog check branches
  .github/workflows/changelog-check.yml
Due: none

docs(ci): add generate-changelog workflow with dual changelog format
  .github/workflows/generate-changelog.yml
Due: none

fix: address claude[bot] review - fix module paths, permissions, version defaults, depth bound
  .github/workflows/generate-changelog.yml
Due: none

fix: add empty changes guard before token generation and PR creation
  .github/workflows/generate-changelog.yml
Due: none

fix: remove 100-commit depth limit and quote GITHUB_OUTPUT per shellcheck
  .github/workflows/generate-changelog.yml
Due: none

docs: ADK and PydanticAI integration examples (#224)
  examples/integrations/openinference_google_adk_example.py
  examples/integrations/pydantic_ai_integration.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(examples): remove incorrect LoopAgent scenario from ADK example
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix(examples): update integration examples (#257)
  examples/integrations/openinference_google_adk_example.py
Due: tox-format-check, tox-lint-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: add HH_CP_API_URL to integration test passenv in tox.ini
  tox.ini
Due: none

Fix List query params serialization via custom codegen templates
  scripts/generate_client.py
  scripts/templates/httpx.jinja2
  scripts/templates/service.jinja2
  src/honeyhive/_generated/api_config.py
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Sessions_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

switch to generator template
  scripts/generate_client.py
  scripts/templates/apiconfig_pydantic_2.jinja2
Due: tox-format-check, tox-lint-check

Apply suggestions from code review
  scripts/generate_client.py
  src/honeyhive/_generated/api_config.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

test: fix integration test shims for latest SDK
  tests/integration/api/test_tools_api.py
  tests/integration/test_experiments_integration.py
  tests/integration/test_model_integration.py
  tests/integration/test_simple_integration.py
  tests/unit/test_backward_compatibility.py
  tests/utils/backend_verification.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

fix: query params serialization for List query params with one item (#251)
  scripts/generate_client.py
  scripts/templates/apiconfig_pydantic_2.jinja2
  scripts/templates/httpx.jinja2
  scripts/templates/service.jinja2
  src/honeyhive/_generated/services/Configurations_service.py
  src/honeyhive/_generated/services/Datapoints_service.py
  src/honeyhive/_generated/services/Datasets_service.py
  src/honeyhive/_generated/services/Events_service.py
  src/honeyhive/_generated/services/Experiments_service.py
  src/honeyhive/_generated/services/Metrics_service.py
  src/honeyhive/_generated/services/Projects_service.py
  src/honeyhive/_generated/services/Session_service.py
  src/honeyhive/_generated/services/Sessions_service.py
  src/honeyhive/_generated/services/async_Configurations_service.py
  src/honeyhive/_generated/services/async_Datapoints_service.py
  src/honeyhive/_generated/services/async_Datasets_service.py
  src/honeyhive/_generated/services/async_Events_service.py
  src/honeyhive/_generated/services/async_Experiments_service.py
  src/honeyhive/_generated/services/async_Metrics_service.py
  src/honeyhive/_generated/services/async_Projects_service.py
  src/honeyhive/_generated/services/async_Session_service.py
  src/honeyhive/_generated/services/async_Sessions_service.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Code change to force run
  tests/__init__.py
Due: tox-format-check, tox-lint-check, changelog-update-check, mandatory-docs-update

docs: add changelog entries for rc16 and unreleased changes
  CHANGELOG.md
Due: docs-build-check

docs: add changelog entries for rc16 and unreleased changes (#263)
  CHANGELOG.md
Due: docs-build-check

refactor: extract retry logic into RetryConfig.execute/execute_async
  src/honeyhive/api/client.py
  src/honeyhive/utils/retry.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: add changelog entry for async export retry parity (#264)
  CHANGELOG.md
Due: docs-build-check

fix: retry-exhaustion raises correct "failed after N attempts" error
  src/honeyhive/utils/retry.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

fix: correct type hint for execute_async request_fn parameter
  src/honeyhive/utils/retry.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

style: apply black formatting
  src/honeyhive/api/client.py
  src/honeyhive/utils/retry.py
Due: tox-format-check, tox-lint-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

docs: move async export retry entry to Added section
  CHANGELOG.md
Due: docs-build-check

feat: add retry logic to `export_async()` (#264)
  CHANGELOG.md
  src/honeyhive/api/client.py
  src/honeyhive/utils/retry.py
Due: tox-format-check, tox-lint-check, docs-build-check, feature-list-sync, changelog-update-check, mandatory-docs-update, invalid-tracer-pattern-check

Path conditions:
  tox-format-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  tox-lint-check: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|scripts/.*\.py)$
  docs-build-check: any of: ^(docs/.*\.(rst|md)|README\.md|CHANGELOG\.md|\.agent-os/.*\.md)$
  feature-list-sync: any of: ^(src/.*\.py|docs/reference/.*\.rst|\.agent-os/product/features\.md)$
  changelog-update-check: any of: ^(src/.*\.py|tests/.*\.py)$
  mandatory-docs-update: any of: ^(src/.*\.py|tests/.*\.py|examples/.*\.py|\.agent-os/product/features\.md|\.agent-os/standards/.*\.md)$
  invalid-tracer-pattern-check: any of: ^(docs/.*\.(rst|md)|examples/.*\.py|src/.*\.py)$
